@* Views/Partial/ZodiacInformation.cshtml *@

<!-- Krebs -->
<div class="contentBoxBlock" id="zodiacInformationCancer" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Krebs_Small.png" alt="Krebs">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Krebs</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Die Persönlichkeit des Zeichens Krebs ist vielschichtig.
        Krebse haben viele Stimmungen, von denen einige sogar widersprüchlich sind.
        Doch sie haben auch ein tiefes, zentrales Selbst, das bestehen bleibt.
        Menschen mit dem Sternzeichen Krebs beschäftigen sich viel mit ihren eigenen Sorgen und den Sorgen der Menschen in ihrer Umgebung.
        Es fällt ihnen schwer, ihren Schmerz mit anderen zu teilen.
        Oft haben sie Angst, sich verletzlich zu zeigen, weil sie befürchten, dass andere ihre Schwächen gegen sie verwenden könnten.
        Krebs-Geborene haben außerdem gelernt, ihren Schmerz zu verbergen, um andere nicht zu belasten.
        Oft tun sie so, als ginge es ihnen gut, obwohl das Gegenteil der Fall ist. Die Gefühle des Wasserzeichens Krebs sind wie ein freiliegender Nerv.
        Krebse können alles spüren. Sie sind wie eine Stimmgabel, die bei der geringsten Provokation in Schwingung gerät.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Krebs</h3>
    <p>
        Der Krebs gilt als ein sehr freundliches und fröhliches Gemüt.
        Zwischenmenschlichkeit, Respekt und vor allem Fairness sind ihm sehr wichtig.
        Für seine Werte setzt er sich daher auch gern ein und akzeptiert keine Intoleranz.
        Ein bisschen verträumt und dennoch voller Ehrgeiz kämpft der Krebs sich durch das Leben.
        Anderen dabei helfen und gutmütig sein, macht ihn zu einem sehr charmanten Kameraden.
        Der Krebs ist sparsam, denn er ist sicherheitsliebend und plant gern voraus.
        Dennoch handelt das Tierkreiszeichen gern intuitiv, ist bescheiden und beständig.
        Für viele hat der Krebs einen ausgeprägten mütterlichen Instinkt, weshalb er Anlaufstelle Nummer eins ist, wenn andere Rat oder ein offenes Ohr suchen.
        Seine Freunde und Familie wissen sein reines Herz zu schätzen.
    </p>
    <br /><br />

    <h3>Sternzeichen Krebs: Schwächen und Macken</h3>
    <p>
        Die permanente Belastung mit den Problemen seiner Lieben, hinterlässt auch beim Krebs seine Spuren.
        So sehr er es liebt für sein Umfeld der Fels in der Brandung zu sein und immer mit Rat und Tat beizustehen, so macht ihn seine Rolle als fürsorglicher Zuhörer zu einem sensiblen Wesen.
        Oftmals schon beinahe überempfindlich und labil weiß der Krebs sich nicht anders zu helfen, als sentimental und launenhaft zu reagieren, wenn er sich verletzt fühlt.
        Sein Verhalten ist allgemein so manches Mal stimmungsabhängig, wodurch der Krebs schon fast zum Pessimisten mutiert.
        Das ganze Leid auf seinen Schultern lässt ihn den Blick für das Positive verlieren.
        Da der Krebs sich über das Böse des Lebens bewusst ist, versucht er seine Lieben stets zu schützen und zu bevormunden.
        Dadurch empfinden ihn fremde Außenstehende als überbeschützend und nehmen ihm seine Art eher übel.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Krebs in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Auch wenn der Krebs selbst ein großes Herz hat und für jeden Platz darin findet, so fällt es ihm selbst gar nicht leicht sich anderen gegenüber zu öffnen.
        Immerhin weiß er, was es bedeutet verletzt zu werden und kennt seine sensible Seite.
        Eine harte Schale soll ihn schützen. Dennoch ist der Krebs ein häuslicher Mensch.
        Er braucht nicht die große Party oder den Nervenkitzel jeden Abend.
        Ein gemütlicher Abend zu Hause mit einem frisch gekochten Dinner, einem Glas Wein und einem schönen Gespräch sind alles was sein Herz begehrt.
        Allgemein, ist der Krebs ein Romantiker und träumt von der großen Liebe.
        Jemand für eine Nacht ist nichts für sein Bett. Wer sich den Weg in sein Herz bahnt, der kann sich über einen treuen Wegbegleiter freuen, der an enger Zweisamkeit interessiert ist.
        Allerdings ist Loyalität dem Sternzeichen Krebs sehr wichtig. Das kann auf Dauer ein wenig anstrengend werden.
        Ein wohlbehütetes Zuhause, eine stützende Schulter und ein sanfter Umgangston lassen den Krebs dahinschmelzen.
        Er selbst ist sehr liebevoll und kümmert sich um seine:n Partner:in. Kuscheln ist seine Luft zum Atmen!
    </p>
    <br /><br />

    <h3>Der Krebs im Beruf – Die Karriereleiter ist nicht alles</h3>
    <p>
        Auch wenn der Krebs zielstrebig ist, so hat er andere Ziele als seine Kollegen.
        Beruflicher Aufstieg und Erfolg, Ehrgeiz und das Streben nach mehr sind nicht seine primären Lebensaufgaben.
        Der Krebs legt viel Wert darauf, sich um seine Mitbürger zu kümmern. Instinktiv spürt er, wenn ihn jemand braucht.
        Daher ist ihm das Arbeitsklima wichtiger als ein Kampf mit den Kollegen um das neue Projekt, die Gehaltserhöhung oder die Anerkennung des Chefs oder der Kollegen.
        Krebse sind empfindsam und können sich gut in andere Menschen hineinversetzen.
        Allerdings sorgt ihre sensible Seite für eine Achterbahn der Gefühle und so fällt es dem Sternzeichen so manches Mal schwer, sich zu behaupten.
        Er kennt sich selbst und weiß, wie verletzlich er sein kann. Deswegen meidet der Krebs automatisch Konfrontationen oder den typischen Konkurrenzkampf am Arbeitsplatz.
        Er möchte sich einfach wohlfühlen und trägt natürlich selbst zu einem angenehmen Arbeitsumfeld bei, sei es mit einem Lächeln, einem selbstgebackenen Kuchen für die Kollegen oder einem netten Kompliment.
        Geld und beruflicher Aufstieg sind eben nicht alles.
    </p>
    <br /><br />

    <h3>Der Krebs als Mann</h3>
    <p>
        Der Krebs, ein Macho? Fehlanzeige! Einfühlsam, liebevoll, zärtlich – das zeichnet den Krebs-Mann aus.
        Kein Wunder, denn sein Tierkreiszeichen wird vom Mond regiert, welcher für die weibliche Seite steht.
        Daher kann man auch davon ausgehen, dass der Krebs-Mann ein ausgeprägtes und gutes Verhalten zu seiner Mutter hat.
        Der Krebs-Mann hat Angst vor Enttäuschungen und ist daher besonders vorsichtig und sicherheitsliebend.
        Veränderungen sind schwer zu verarbeiten und wenn es dem Sternzeichen dann doch mal zu viel wird, zieht er sich in seine Traumwelt zurück, seinen Panzer.
        Etwas Lockeres hier oder eine Affäre da, sind nichts für das romantische Tierkreiszeichen.
        Er ist ein Familienmensch und stellt den Wunsch nach einem ruhigen zu Hause ganz klar über Partys und Partner:innen für eine Nacht.
        Wer allerdings sein Vertrauen gewinnen möchte, braucht ein ruhiges Händchen und sehr viel Geduld. Zu groß ist die Angst davor, verletzt zu werden.
        Aber ist die Schale erst mal geknackt, wartet eine treue Seele.
    </p>
    <br /><br />

    <h3>Der Krebs als Frau</h3>
    <p>
        Die Krebs-Frau mag es, sich um andere zu kümmern.
        Dafür verzichtet sie auch gern auf die Karriere.
        Ein schönes Heim, ein leckeres Essen auf dem Tisch und ein gemütlicher Abend mit dem Liebsten auf der Couch, ist alles, was die Krebs-Dame braucht, um glücklich zu sein.
        Dabei nimmt sie vor allem ihre Rolle als Köchin sehr ernst.
        Wie auch der Krebs-Mann, ist die Krebs-Frau eine sehr leidenschaftliche Köchin und übertrumpft ihre kulinarischen Ergebnisse immer wieder aufs Neue, denn Liebe geht ja bekanntlich durch den Magen.
        Durchzechte Partynächte oder großartige Freizeitaktivitäten machen der Krebs-Frau keinen besonderen Spaß.
        Ein gemütlicher Abend, einen Film schauen und dabei kuscheln ist für sie das Schönste.
        Die Krebs-Dame ist eben nicht anspruchsvoll, aber vergisst manchmal, ihren Liebsten Freiraum und etwas Luft zum Atmen zu lassen.
        Sie ist eben sehr romantisch und pflegt ihre:n Partner:in viel zu gern mit zahlreichen zärtlichen Stunden.
    </p>
</div>




<!-- Zwilling -->
<div class="contentBoxBlock" id="zodiacInformationGemini" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Zwilling_Small.png" alt="Zwilling">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Zwilling</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Zwillinge sind kleine Chaoten, welche die Abwechslung und immer wieder neue Aufregung brauchen.
        Still dasitzen und nichts tun gleicht einer Strafe und ist schlichtweg unmöglich, denn der Zwilling ist viel zu aktiv.
        Trotz einiger Schwächen und Unzuverlässigkeiten, weiß der Zwilling seinen Charme zu nutzen und seine Mitmenschen versöhnlich um den Finger zu wickeln.
        Dieses Luftzeichen hat die Fähigkeit, den Charakter eines Menschen in Sekundenschnelle einzuschätzen.
        Wenn jemand blufft, merkt der Zwilling das als Erster.
        Auch wenn der Zwilling gerne über sich redet, kann er ein sensibler Zuhörer sein.
        Das Tierkreiszeichen ist vielseitig und fühlt sich sowohl als introvertierte als auch als extrovertierte Person wohl.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Zwilling</h3>
    <p>
        Zwillinge lieben die Kommunikation, sind kontaktfreudig und gesellig.
        Neue Menschen kennenlernen oder allgemein auf fremde Menschen zugehen ist für sie eine leichte Übung.
        Der Zwilling ist schnell und flexibel in jeder Hinsicht.
        Sein Verstand ist flink, wissbegierig und anpassungsfähig, während sein Körper auf seltsame Art und Weise ebenfalls beweglich und schnell ist.
        Als Multitasking-Profi erledigt er mehrere Dinge mühelos auf einmal.
        Die freundliche und heitere Ader ist ansteckend und mitreißend und so haben Zwillinge eine ausgeprägte Überzeugungskraft.
        Charmant und offen gegenüber allem und jedem kennt er selbst meist seinen nächsten Schritt noch nicht.
    </p>
    <br /><br />

    <h3>Schwächen und Macken der Zwillinge</h3>
    <p>
        Schnell, schnell, heißt es immer.
        Manchmal eben auch zu schnell und so ist das Sternzeichen Zwilling besonders stressanfällig und ungeduldig.
        Er will alles haben und am besten sofort.
        Das Sternzeichen ist ebenfalls beeinflussbar und wirkt daher flatterhaft und nervös.
        Auf lange Sicht ist er leider unzuverlässig.
        Ernst bleiben ist für ihn keine leichte Übung und so sind im Zeichen Zwilling geborene gerne mal zerstreut und wirken allein komplett aufgeschmissen.
        Gerade deshalb hat der Zwilling Angst vorm Alleinsein.
        Doch auch wenn er leicht Kontakte knüpfen kann, so bleibt die Frage, von welcher Dauer diese sind.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Zwilling in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Die große Liebe sucht der typische Zwilling erst einmal nicht.
        Wildes flirten und ein Telefonbuch voller Nummern für eine leidenschaftliche Nacht ist die Realität und erfüllt sein Bedürfnis zur Genüge.
        Im Flirten ist das Sternzeichen allerdings Profi.
        Sein Objekt der Begierde wickelt er problemlos um den kleinen Finger.
        Er kennt einen Spruch für jede Situation und findet immer die richtigen Worte, um der Dame oder dem Herren den Kopf zu verdrehen.
        Während der Zwilling ganz bewusst kein Interesse an einer festen Beziehung hat, verlieben sich die Singles im Sekundentakt.
        Sein Charakter ist einfach zu anziehend, um zu widerstehen.
        Das Problem ist nur, dass seine Affären schon dem Traualtar entgegenfiebern und die Anzahl der Abenteuer dem Zwilling zum Verhängnis werden können.
        Er liebt seinen Freiraum und die Freiheit.
        Wer es tatsächlich in sein Herz schafft, der sollte es sich nicht mit Eifersucht verbauen oder kaputt machen.
    </p>
    <br /><br />

    <h3>Der Zwilling im Beruf – Die Karriereleiter geht bergauf</h3>
    <p>
        Getrieben von ihrer Neugierde und Wissbegierde sind die Zwillinge permanent unterwegs und auf Entdeckungsreise.
        Dafür nehmen sie auch gerne einen Jobwechsel in Kauf.
        Bevor sie dann wirklich die passende Berufswahl für sich treffen, müssen sie wie auch in der Liebe durch- und ausprobieren, denn wer weiß, ob nicht etwas Besseres an der nächsten Ecke schon wartet.
        Sprachgewandt und mit dem Drang nach Kommunikation ist klar, dass der Zwilling sich in vielen Branchen wohlfühlt.
        Ihre Überzeugungskraft ist äußerst praktisch und hilft dabei, ihre Ideen durchzusetzen.
        Problematisch wird es für den Zwilling in der Berufswelt dann, wenn seine mangelnde Zuverlässigkeit zum Thema wird.
        Für das Sternzeichen ist ein Termin nun mal nicht gleich ein fester Termin.
        Meetings und Fristen werden in der letzten Sekunde geändert und mit der Pünktlichkeit nimmt es der Zwilling auch nicht allzu streng.
        Dank seines charmanten und klugen Kopfs, kann ihm allerdings niemand lange böse sein.
    </p>
    <br /><br />

    <h3>Der Zwilling als Mann</h3>
    <p>
        Der Zwilling-Mann ist ein redseliger Geselle.
        Die Frauen freut es, aber nur, solange sie auch selbst mal zu Wort kommen dürfen.
        Der Zwilling-Mann muss immer aktiv sein, ganz egal, ob beim Sprechen oder beim Sitzen.
        Ruhig sitzen ist gar nicht möglich, dafür ist er viel zu hibbelig und unternehmungslustig.
        Dafür wird es mit dem Zwilling aber niemals langweilig.
        Allerdings kann der Zwilling-Geborene nicht so leicht abschalten und sich fallen lassen, was in vielen Situationen zu Problemen führen kann, beispielsweise beim Verlieben.
        Auf der Arbeit beweist der Zwilling sein Können, unabhängig von der Stelle und seiner Position.
        Das Sternzeichen zeigt eben, wie schnell es sich selbstständig einarbeiten kann und klettert die Karriereleiter besonders schnell nach oben, denn der Zwilling ist sich für nichts zu schade.
    </p>
    <br /><br />

    <h3>Der Zwilling als Frau</h3>
    <p>
        Zwilling-Frauen plaudern mit Vergnügen und das den lieben langen Tag.
        Freund:innen müssen mit stundenlangen Telefonaten rechnen und werden dafür mit vielseitigen Informationen belohnt.
        Neugierig ist die Zwilling-Frau allerdings in jedem Lebensbereich, was ihr viele Türen in der Arbeitswelt eröffnet.
        Die Lust auf etwas Neues vergeht ihr einfach nie.
        Neue Erfahrungen sind immer ein schöner Pluspunkt, auch im privaten Umfeld.
        Deswegen reist das Sternzeichen auch so viel um die Welt, am liebsten last Minute und mit fünf unterschiedlichen Zwischenstopps.
        Auf Reisen lernt das Sternzeichen viele Menschen kennen, allerdings sind die Bekanntschaften nur von kurzer Dauer.
        Einerseits ist das Luftzeichen zu flatterhaft und schnelllebig, um zahlreiche Bekanntschaften zu pflegen und andererseits sind es tatsächlich zu viele Kontakte, um zu jedem einen engen Draht aufzubauen.
        Die Zwilling-Frau hält leider nicht immer ihr Wort.
        Wer also mehr als ein kurzes Gespräch erwartet oder gar ein festes Treffen für einen gemeinsamen Abend, der wird wohl oder übel enttäuscht.
        Viel zu oft vergisst das Sternzeichen etwas in Eile und ist anschließend in einer schwierigen Situation.
    </p>
</div>




<!-- Widder -->
<div class="contentBoxBlock" id="zodiacInformationAries" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Widder_Small.png" alt="Widder">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Widder</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Ganz getreu dem Motto "Hier bin ich“ ist der Widder ein Kind des Frühlings. 
        Geboren zwischen dem 21. März und dem 20. April sorgen Sie für viel neue Energie in Ihrem Umfeld. 
        Aufbruchsstimmung und Impulsivität kennzeichnet nicht nur Ihren Geburtsmonat, sondern spiegelt sich auch ganz klar in Ihrem Sternbild wider. 
        Mit welchen Eigenschaften dieses Feuerzeichen sonst noch an ihr Ziel kommt und wie der Widder in Sachen Liebe, Beruf und Freundschaft tickt, erfahren Sie im Folgenden.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Widder</h3>
    <p>
        Ähnlich seinem Sternbild, dem Widder, rast auch die Widder-Frau oder der Widder-Mann mit dem Kopf zielstrebig durch die Wand.
        Hindernisse sind für den Widder Herausforderungen und somit sein Antrieb.
        Sein Ehrgeiz macht seine Stärke aus.
        Gleich seinem Element, dem Feuer, ist der Widder kämpferisch, mutig und idealistisch.
        Konkurrenz macht ihm keine Angst, sie bringt ihn nur voran.
        Wenn der Widder sich etwas in den Kopf setzt, dann gibt er nicht so einfach auf.
        Seine Willensstärke ist seine einzigartige Kraft, die durch nichts und niemanden berührt werden kann.
        Seine Freunde und Familie wissen sein reines Herz zu schätzen.
    </p>
    <br /><br />

    <h3>Schwächen des Sternzeichen Widder</h3>
    <p>
        So stark sein Charakter den Widder auch macht, so steht er ihm manchmal im Weg. 
        Auch wenn Schwäche für den Widder ein Fremdwort ist, so gilt er als streitlustig. 
        Wie das Feuer sind Widder-Frau und Widder-Mann unberechenbar und verlieren sich so manches Mal in ihrem Tatendrang. 
        Ihre Ungeduld und Impulsivität lässt sie rücksichtslos und egoistisch aussehen. Kompliziertes Denken liegt dem Widder nicht. 
        Er möchte alles schnell und sofort. 
        Der Widder-Mann oder die Widder-Frau sollte ab und zu tief durchatmen und seine aufbrausende Art für seine Ziele nutzen.
        Wie jeder andere hat auch der Widder gewisse Macken. 
        Seine größte Marotte ist die Ungeduld. 
        Langes Warten oder gar auf sein Recht verzichten, Inkompetenz oder Uneinsichtigkeit bringen schnell das Fass zum Überlaufen.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Widder in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Das Verhalten des Widders spiegelt sich in allen Lebensbereichen wider. 
        Wer ein bisschen leidenschaftliches Drama liebt, wird die Zeit mit dem Widder nicht bereuen. 
        Liebe und Lust hängen ganz eng zusammen. Getreu seinem Element, dem Feuer, ist der Widder Geborene ein temperamentvoller Liebhaber. 
        Der oder die Angebetete gleicht der Beute eines Wildtiers, was die Liebe mit einem Widder nur aufregender und sinnlicher macht.
        Wie auch sonst gibt der Widder nicht auf, solang er nicht hat, was er will. 
        Das kann die Avancen des starken Sternzeichens allerdings anstrengend gestalten. 
        Wer also von ruhiger und harmonischer Idylle träumt, sollte sich von diesem Tierkreiszeichen fernhalten. 
        Wer jedoch feurige Leidenschaft bevorzugt, wird mit dem Widder-Mann oder der Widder-Frau große Freuden verspüren.
        Erotik und Verführung sind die Stärken des Widders, gleichermaßen für den Mann als auch die Frau. 
        Während sich sein Objekt der Begierde durch vorgetäuschte Schwäche und Rückzug auf den Angriff vorbereitet, setzt er direkt zum Angriff an.
        Obendrein vergisst dieses Feuerzeichen auch im Bett nicht seine Zielstrebigkeit der oder die Beste sein zu wollen. 
        Der Partner des Widders sollte ihn aber nicht zu lang zappeln lassen, sonst verliert der Widder-Mann oder die Widder-Frau schnell das Interesse an ihm oder ihr. 
        Dies wird ihm jedoch selten passieren, da das Sternzeichen Widder als sportlich, anziehend und attraktiv gilt.
    </p>
    <br /><br />

    <h3>Der Widder im Beruf – die Karriereleiter geht nur bergauf</h3>
    <p>
        Wer denkt, dass der Widder in seiner beruflichen Laufbahn ein anderes Verhalten an den Tag legt, der irrt. 
        Vor allem die Konkurrenz treibt ihn voran. 
        Bahnbrechend und innovativ möchte der Widder sein. 
        Das Ziel vor Augen ist ihm das Wichtigste. 
        Dafür büßt er auch gern den Titel des Rücksichtslosen ein, aber im Beruf geht es ihm sowieso nicht um Freundschaften. 
        Dafür ist der Widder zu sehr auf seinen Erfolg fixiert.
        Selbstbestimmend und auf direktem Wege steuert der Widder am liebsten sein Ziel an. 
        Kompliziertes Denken und Umwege in seinem Handeln erscheinen ihm nutzlos und verschwenden die Energie des Widder-Geborenen. 
        Das Sternzeichen Widder ist von Natur aus spontan und schafft es trotzdem unter den Besten zu sein.
        Teamfähigkeit ist keine seiner Stärken, denn der Widder arbeitet lieber allein. 
        Dies ermöglicht ihm hundertprozentige Kontrolle seiner Projekte, Wege und Ziele und garantiert dem zielstrebigen Widder gleichzeitig die volle Ladung Anerkennung. 
        Aber Achtung, übertreiben sollte er es nicht, sonst bremst er sich nur selbst aus. 
        Die Selbstsicherheit des Widders sollte ihm nicht über Kopf wachsen, denn mit seiner Willensstärke kann er noch vieles erreichen und seine Kollegen und sogar sich selbst überraschen. 
        Der Widder ist einfach ein Naturtalent!
    </p>
    <br /><br />

    <h3>Der Widder als Mann</h3>
    <p>
        Der Widder-Mann scheut keine Auseinandersetzungen und steht für sein Recht ein. 
        Als Kämpfer packt er jedes Problem furchtlos an und steht für seine Ideen und Ziele ein. 
        Nichts bringt den Widder so leicht aus der Bahn, denn der Erfolg gibt ihm recht. 
        Jede Herausforderung macht den Widder-Geborenen nur stärker – sobald ein Ziel erreicht ist, wird schon das nächste anvisiert.
        Auch wenn der Widder stark und unermüdlich scheint, sollte er nicht vergessen seine Kräfte einzuteilen.
        Egal in welchem Lebensbereich, das Sternzeichen Widder geht nicht gern mit Niederlagen um. 
        Sie kränken das Ego und werden daher tendenziell ignoriert. 
        Der Erfolg ist dem Widder wichtig, aber es geht nicht um materielle Erzeugnisse, sondern um den Ruhm und die Anerkennung.
    </p>
    <br /><br />

    <h3>Der Widder als Frau</h3>
    <p>
        Der Widder als Frau steht dem Mann in nichts nach. 
        Die Widder-Frau ist spontan und willensstark. 
        Sie weiß, was sie möchte und nimmt es sich einfach. 
        Gekonnt wickelt die Widder-Frau die Männer mit ihrer unternehmungslustigen Art um den kleinen Finger. 
        Ihr dynamisches Auftreten ist beeindruckend, kann jedoch auch einschüchternd wirken. 
        Daher braucht die Widder-Frau einen starken Mann, der imstande ist, ihr die Stirn zu bieten. 
        Die Widder-Frau kämpft für das, woran sie glaubt.
    </p>
</div>




<!-- Wasserman -->
<div class="contentBoxBlock" id="zodiacInformationAquarius" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Aquarius_Small.png" alt="Wassermann">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Wassermann</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Der Wassermann bringt seine Individualität gern zum Ausdruck. 
        Klare gesellschaftliche Linien, Grenzen und Vorgaben sorgen für seinen Wunsch nach der Unabhängigkeit. 
        Dafür nimmt das Sternzeichen auch gern gewisse Umwege auf sich. 
        Das bedeutet aber nicht, dass Wassermänner Einzelgänger sind. 
        Tatsächlich fühlen sie sich in großen Gruppen wohl. 
        Sie bezaubern ihr Umfeld mit ihrem eigenartigen Humor, faszinieren mit witzigen Fakten oder überzeugen sie, sich ihrem Kollektiv anzuschließen. 
        Die Entfremdung, die sie empfinden, ist oft selbstverschuldet – ein Ergebnis ihres reflexartigen Widerstands und nicht eines Mangels an sozialer Intelligenz. 
        Wassermänner versuchen seltsam zu sein. 
        Intelligenz bedeutet für sie die Fähigkeit zu besitzen, eine möglichst unpopuläre Meinung zu formulieren.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Wassermann</h3>
    <p>
        Der Wassermann ist ein richtiges Original und voller Charisma. 
        Er ist exzentrisch, denkt gern fortschrittlich und ist dabei sehr einfallsreich und erfinderisch. 
        Er ist eben ein kleiner, freiheitsliebender Visionär und hält nichts von konventionellen Grenzen. 
        Um sein Streben zu erreichen, scheut der Wassermann auch keine Mühen und sucht vielseitige kreative Möglichkeiten, um voranzukommen.
        Im Umgang mit Mensch und Natur ist der Wassermann sehr freundlich, hilfsbereit und gesellig. 
        Dabei versucht er stets vorurteilslos und tolerant durch das Leben zu gehen. 
        Es gibt kaum jemanden, der von ihm und seinem Enthusiasmus nicht mitgerissen wird.
    </p>
    <br /><br />

    <h3>Schwächen des Sternzeichen Wassermannes</h3>
    <p>
        Der Wassermann ist ein wahrer Rebell, der permanent unter Strom steht und oft utopische Ziele für sich und die Gesellschaft anpeilt. 
        Er ist schwer zu fassen und wirkt distanziert und wechselhaft. 
        Das Sternzeichen ist eben gern unverbindlich und dadurch unnahbar, reserviert und beinahe kühl.
        Wenn seine weitgefächerten Pläne nicht aufgehen, kann der Wassermann auch ungemütlich werden. 
        Wenn er etwas will, dann sofort. 
        Wie ein kleines Kind ist er so manches Mal stur und ungeduldig. 
        Dabei meint er es gar nicht böse, sondern wünscht sich einfach positive Veränderungen.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Wassermann in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Der Wassermann liebt die Kunst des Flirtens. 
        Leidenschaft und Lust sind für ihn wie die Luft zum Atmen. 
        Dabei soll es aber bitte von beiden Seiten unverbindlich sein, denn auch hier bindet sich das Sternzeichen nicht gern. 
        Viel zu groß ist die Verlockung und so lässt er sich keine Gelegenheit entgehen.
        Liebe, eine Beziehung und Partnerschaft sind nicht sein Gebiet, dafür ist er einfach nicht geboren. 
        Viel zu schnell lässt der Wassermann sich ablenken und merkt dabei erst zu spät, was er sich entgehen lässt oder verliert.
    </p>
    <br /><br />

    <h3>Der Wassermann im Beruf – Die Karriereleiter hoch und runter</h3>
    <p>
        Der Wassermann braucht die Freiheit und Unabhängigkeit. 
        Das gilt auch für seinen Beruf. 
        Langeweile am Arbeitsplatz und Routine am Bürotisch ist für das sprunghafte Sternzeichen eine Qual. 
        Nur des Geldes Willen arbeiten ist für den Wassermann eine auferlegte Konvention der Gesellschaft, die er so nicht akzeptieren kann und will.
        Schubladendenken passt nicht in seine Weltanschauung und so versucht der Wassermann immer wieder etwas Neues. 
        Jeden Tag interessiert ihn etwas anderes, was die Berufswahl für das extrovertierte Sternzeichen nicht besonders leicht macht. 
        Von Hierarchien und Regeln hält er auch am Arbeitsplatz nichts, was die Arbeit mit dem Wassermann im Team schwierig gestaltet. 
        Abgabetermine werden einfach nicht eingehalten und Sitten missachtet.
        Geld und finanzielle Sicherheit sind nicht das Wichtigste, aber werden natürlich als angenehm empfunden.
        Die Flexibilität erlaubt nun mal ein größeres Spektrum an neuen Gelegenheiten. 
        Bei der Berufswahl geht es dem Wassermann vor allem darum, frei zu sein und seinem Charakter folgen zu dürfen. 
        Dann kann das Sternzeichen auch Großes leisten.
    </p>
    <br /><br />

    <h3>Der Wassermann als Mann</h3>
    <p>
        Der Wassermann-Mann ist spontan und lebt gern in den Tag hinein, denn man weiß ja nie, welche Möglichkeiten sich ergeben könnten. 
        Planung ist eben nicht alles. 
        Das macht ihn leider zu einem unzuverlässigen Mitmenschen. 
        Verabredungen werden in letzter Sekunde abgesagt oder gar vergessen, weil schon wieder etwas Wichtigeres beziehungsweise etwas Neues auf seinem Radar ist.
        Ist man sich dieser Eigenschaft bewusst, so kann man viele lustige, prägende und lehrreiche Momente mit dem Sternzeichen erleben. 
        Ein Abenteuer folgt auf das Nächste und vertreibt die Langeweile. Ergibt sich etwas Neues, so läuft der Wassermann direkt los und hinterfragt nicht. 
        Auch bereut er nicht, denn jede Erfahrung macht ihn nur reicher und bringt ihn weiter voran.
        Der Wassermann-Mann ist gewiss kein typischer Vorstadt-Vater oder ein Anhänger der Ehe. 
        Locker ist genau sein Ding, denn was ihm heute gefällt, könnte morgen schon wieder langweilig sein. 
        Eine eifersüchtige Klette, die dem Sternzeichen die Luft und den Freiraum raubt, ist sein größter Alptraum. 
        Wer also von romantischer Zweisamkeit träumt, der wird beim Wassermann nicht fündig.
        Klare Entscheidungen sind einfach nicht sein Ding und schränken ihn einfach zu sehr ein. 
        Das gilt nicht nur für seine zwischenmenschlichen Beziehungen, sondern auch in seinem Beruf.
    </p>
    <br /><br />

    <h3>Der Wassermann als Frau</h3>
    <p>
        Neu ist immer besser. 
        Traditionen sind veraltete Regeln, von denen die Wassermann-Frau nichts hält. 
        Gewöhnlich ist langweilig, Veränderung ist aufregend und davon braucht die Dame viel. 
        Die ganze Welt verändern, das ist ihr Plan. 
        Ihr Selbstbewusstsein ist ihre Waffe, denn Bescheidenheit ist ganz sicher nichts für die aktive Wassermann-Frau. 
        Sie strotzt nur so vor Tatendrang und ist voller Elan, ihre Pläne und Träume umzusetzen. 
        Dabei ist nichts zu verrückt oder weit hergeholt.
        Die Wassermann-Frau ist sehr kreativ und stürzt sich sofort auf neue Ideen. 
        Diese sprudeln manchmal nur so heraus und sorgen dafür, dass sie den Blick für die Wirklichkeit und das Realistische verliert. 
        Damit bringt sie sich leider oftmals selbst zu Fall, aber lenkt sich schnell mit neuen Plänen ab.
        Wie auch der Herr Wassermann braucht das weibliche Gegenstück viel Freiraum. 
        Dabei ist egal, ob es sich um eine Freundschaft oder Beziehung handelt. 
        Fühlt sie sich eingeengt, ergreift sie sofort die Flucht. 
        Egal, ob Eifersucht oder klärende Gespräche und Diskussionen, sie kann mit dieser Verantwortung nicht umgehen. 
        Was die Wassermann-Frau allerdings schätzt, sind Überraschungen. 
        Wer die impulsive Dame also halten will, der sollte sich immer wieder etwas Neues ausdenken, um keine Langweile aufkommen zu lassen.
    </p>
</div>




<!-- Fische -->
<div class="contentBoxBlock" id="zodiacInformationFish" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Fish_Small.png" alt="Fish">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Fische</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Fische-Geborene sind emotionale Gemüter. 
        Rationales Denken gehört nicht zu ihren Stärken, aber das macht nichts, denn ihr empfindsames und feinfühliges Gemüt gleicht das aus. 
        Ihr emotionales Repertoire ist immens und formt den Charakter und die Eigenschaften des Fisches.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Fische</h3>
    <p>
        Wer einen guten Ratschlag oder besser noch ein offenes Ohr braucht, der wird es ganz sicher bei dem Fisch finden. 
        Er ist äußerst feinfühlig, stets hilfsbereit und handelt oft selbstlos. 
        Für Familie und Freunde würde der Fisch eben alles tun. 
        Ebenso bunt wie die Farben des Meeres ist das Verhalten des Fisches. 
        Immer gut gelaunt und fröhlich ist der Tag seine Spielwiese und bietet so immer wieder neue Chancen und Möglichkeiten. 
        Vor allem im Umgang mit seinen Mitmenschen ist das Sternzeichen sehr stark und geduldig. 
        Sein selbstloses und sensibles Verhalten macht ihn zur Anlaufstelle Nummer eins für Familie und Freunde.
        Fische sind die Hippies unter den Tierkreiszeichen und stets verständnisvoll und verträumt. 
        Ihren Charakter umwirbt eine gewisse mystische und romantische Ader. 
        Im Umgang mit Menschen, Tieren und der Natur ist das Sternzeichen mitfühlend und im Falle der Notwendigkeit auch mitleidend.
    </p>
    <br /><br />

    <h3>Schwächen und Macken der Fische</h3>
    <p>
        Fische sind oft planlos und chaotisch und leben daher in den Tag hinein. 
        So hingabefähig sie auch sein können, so entscheidungsschwach sind sie und wissen meist nicht, was sie vom Leben möchten. 
        Disziplinlos und gehemmt durch innere Ängste sind sie lang auf der Suche nach ihrem persönlichen Sinn für das Leben. 
        Auseinandersetzungen meiden die Fische mit großem Bogen, denn sie tragen nicht gern die Verantwortung und die Konsequenzen für ihr Handeln.
        Der Fisch ist beeinflussbar und übernimmt gern die Meinungen anderer, um sich nicht selbst auseinandersetzen zu müssen, denn der typische Fisch ist ein sentimentales und daher oftmals überempfindliches, schon fast labiles Wesen.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Fische in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Der Fisch-Geborene ist zwar sehr charmant, aber bleibt dann doch lieber Einzelgänger. 
        So sehr er es auch genießt für andere Menschen da zu sein, so muss er auch sich selbst schützen. 
        Verbringt er lange Zeit mit jemandem, der einen starken Charakter hat, übernimmt der Fisch schnell Angewohnheiten, Meinungen und Verhaltensweisen des Gegenübers.
        Es erscheint allgemein sehr schwer und nahezu unmöglich, die Charaktereigenschaften des Fisches genau einzuschätzen. 
        Das "Er/sie liebt mich, er/sie liebt mich nicht"-Spiel könnte man mit dem Fisch ewig spielen. 
        Fühlt er sich immerhin zu allen Menschen hingezogen und mit ihnen aus rein menschlicher Perspektive verbunden.
        Da der Fisch ungreifbar wirkt, ist er oft noch nach Jahren einer Beziehung für seinen Partner ein Rätsel. 
        Er lässt sich einfach nicht gern in die Karten schauen, um sich selbst zu schützen und seinen inneren Freiraum und Frieden zu wahren.
        Streit oder hitzige Diskussionen fallen mit dem Fisch anders aus als mit anderen Tierkreiszeichen. 
        Seine Überempfindlichkeit kann zu tränenreichen Stunden führen oder eben zu permanenten Auseinandersetzungen, da der Fisch sich durch seine sentimentale Art sofort persönlich angegriffen fühlt.
    </p>
    <br /><br />

    <h3>Der Fisch im Beruf – Karriere ist nicht alles</h3>
    <p>
        Fische sind sehr eigen und überlassen die großen Karrierepläne den anderen. 
        Immerhin ist stetiger Konkurrenzkampf und der Erfolgsdruck nichts für sie. 
        Auch wenn der Fisch als Visionär gilt, so hat er kein Interesse am typischen Tüfteln oder problemorientierten Arbeiten.
        Allgemein ist der Fisch kein besonders großes Arbeitstier. 
        Für ihn zählt lediglich die Arbeitsatmosphäre. 
        Nette Kollegen und ein angenehmes Umfeld haben einen großen Stellenwert. 
        Solang sich der Fisch wohlfühlt und Spaß an der Arbeit hat, kann er auch große Leistungen erbringen.
        Allerdings qualifiziert den Fisch sein besonders Einfühlungsvermögen für viele Berufswege. 
        Empathie und ein feinfühliger Umgang sind stark gefragte Qualitäten und erlauben ein breites Arbeitsspektrum. 
        Durch seine kreative und inspirierende Art der Betrachtung ist der Fisch vor allem im künstlerischen Bereich zu Hause. 
        Egal wofür sich der Fisch entscheidet, seine Berufswahl steht nie komplett fest, denn sein vielfältiges Interesse zieht ihn in unterschiedliche Richtungen.
    </p>
    <br /><br />

    <h3>Der Fisch als Mann</h3>
    <p>
        Als echter Romantiker lässt er die Frauenherzen höherschlagen. 
        Das Sternzeichen Fische weiß eben, was die Liebhaber:innen brauchen und verwöhnt seine Liebste gern mit viel Zuwendung, Zärtlichkeit und einem offenen Ohr. 
        Ein Mann, der zuhören kann. Was möchte man mehr?
        Wer allerdings einen echten Macho mit harter Schale bevorzugt, für den ist der Fische-Mann leider nichts. 
        Streit, lautstarke Diskussionen und Szenen schlagen den Fisch in die Flucht. 
        Er wiegt sich lieber in Sicherheit und so fällt es ihm schwer sich zu beweisen und seinen Mann zu stehen. 
        Da ist es kein Wunder, dass der Fisch lieber gleich aufgibt, um den Frieden zu wahren. 
        Wenn es allerdings darauf ankommt, weiß er sich zu helfen und kann sich auf seinen Instinkt verlassen.
        Der Fische-Mann ist ein kleiner Chaot und kann sich hier und da in seinen Gedanken verlieren. 
        Das macht ihn so unwiderstehlich, anziehend und geheimnisvoll.
    </p>
    <br /><br />

    <h3>Der Fisch als Frau</h3>
    <p>
        Auch die Fische-Frau weiß sich ihres Instinktes zu bedienen. 
        Geschickt gelingt es der Fische-Frau, ihr Gegenüber um den kleinen Finger zu wickeln. 
        Dabei tut sie dies nicht berechnend. Ihr zärtliches und sensibles Gemüt weckt einfach den Beschützerinstinkt eines jeden Einzelnen. 
        Auf andere wirkt sie hilflos, aber in Wirklichkeit weiß sich die Fische-Frau zu helfen und kann sich stets auf ihr Bauchgefühl verlassen.
        Wie der Fische-Mann entzieht sich auch die Fische-Frau gern schwierigen Situationen. 
        Nach außen wirkt sie oft wie ein Sensibelchen, da sie schnell mit Tränen reagiert. 
        Schon allein die falschen Worte können die Fische-Frau sehr tief treffen und verletzen.
        Wenn es allerdings um ihre Lieben geht, dann sieht die Fische-Dame rot. 
        Ist jemand traurig, dann weiß sie sofort zu helfen und zaubert ihrem Gegenüber ein Lächeln auf die Lippen. 
        Freunde und Familie können sich eben immer auf ein offenes Ohr verlassen.
    </p>
</div>




<!-- Stier -->
<div class="contentBoxBlock" id="zodiacInformationTaurus" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Taurus_Small.png" alt="Taurus">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Stier</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Der Stier ist ein selbstbewusstes Gemüt, aber seine größte Stärke ist seine treue Seele. 
        Zuverlässigkeit gegenüber seinen Liebsten ist seine Religion. 
        Der Stier erfreut sich an den kleinen Dingen des Lebens und braucht nicht viel zum Glücklichsein. 
        Für ihn zählen Werte, wie Treue und ein fester Wille. 
        Egal ob in guten oder schlechten Zeiten, auf den Stier ist immer Verlass. 
        Von Klatsch und Tratsch hält er einen großen Schritt Abstand. 
        Das macht den Stier zu einem guten Freund und dem perfekten Hüter von Geheimnissen. 
        Nur seine eigenen behält er besser für sich und träumt stattdessen lieber von großen Feldern und hohen Bergen oder zumindest von einem kleinen Balkon für seinen grünen Daumen, denn der Stier ist ein Freund der Natur.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Stier</h3>
    <p>
        Das Horoskop und die Eigenschaften des Stiers beschreibt man am besten mit einem Blick auf sein Sternbild. 
        Stiere sind von ihrem Naturell aus ruhige Wesen, genießen die Natur, indem sie die Felder abgrasen und sind friedsam, solange sie nicht gereizt werden. 
        Die Eigenschaften des menschlichen Stiers sind sehr ähnlich und so verfügt das Sternzeichen Stier über viele positive zwischenmenschliche Kompetenzen.
        Was ihn in erster Linie so liebenswürdig macht, ist seine Loyalität. Der Stier ist ein sehr treuer und warmherziger Gefährte. 
        Sensibel und großmütig und doch selbstbewusst stolziert er positiv durch das Leben, denn der Stier strotzt nur so vor Geduld und Bodenständigkeit. 
        Vielleicht auch, weil sein Element die Erde ist.
        So mancher wirft ihm eine materialistische Ader vor, aber diese ist nur Zeichen seiner ganz und gar nicht geizigen Handhabe.
    </p>
    <br /><br />

    <h3>Schwächen und Macken des Stiers</h3>
    <p>
        Sein größtes Manko ist seine Sturheit und das weiß er auch. 
        Dennoch fällt es dem Sternzeichen Stier sehr schwer, diese Eigenschaft abzuschalten, wenn er erst in seinem Element ist. 
        Dem Stier kann man hauptsächlich zwei negative Eigenschaften vorwerfen. 
        Einerseits ist das Tierkreiszeichen faul und bequem und andererseits kann er eifersüchtig und besitzergreifend werden. 
        Aber keine Angst, denn der Stier weiß einfach manchmal nicht wohin mit all der Liebe für die oder den Angebeteten. 
        So gelassen und ausgeglichen der Stier auch ist, so engstirnig und stur kann er werden, sobald man ihn reizt. 
        Und auch wenn er schnell verzeiht, vergessen zählt nicht zu seinen Stärken.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Stier in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Der Stier ist ein echter Genießer und wendet sich gern den schönen Dingen und vor allem dem schönen Geschöpf zu. 
        Kein Wunder, da sein Planet die Venus ist. 
        Sein ausgeprägter Sinn für Ästhetik unterstreicht seine sinnliche Art, denn der Stier liebt gutes Essen und guten Sex noch mehr.
        Hat er Interesse, dann sendet er auch eindeutige Signale. 
        Spielchen sind nicht seine Art. Wer es in sein Herz schafft, der darf sich über eine besondere Stellung freuen. 
        Familie und Freunden gegenüber ist der Stier sehr loyal, zuverlässig und verbunden. 
        Aber Achtung, auch wenn der Stier-Mann oder die Stier-Frau selbst mal mit der Eifersucht zu kämpfen hat, Drama ist einfach nicht sein Element und ein echter Liebestöter. 
        Streit und Diskussionen meidet der Stier kategorisch, da er großen Wert auf ein harmonisches und gemütliches Zuhause legt. 
        Unzufriedene Charaktere und nervöse Gemüter finden keinen Platz im Leben des Stiers.
    </p>
    <br /><br />

    <h3>Der Stier im Beruf</h3>
    <p>
        Karriere steht beim Stier-Geborenen im Allgemeinen nicht besonders hoch im Kurs. 
        Für ihn zählen andere Werte als eine steile Berufsleiter. 
        Man könnte schon fast meinen, dass der Stier ein Vertreter typischer Rollenmuster sei.
        Doch unabhängig von allen Rollen und Mustern erarbeitet sich der Stier mit einer gewissen Zielstrebigkeit seine Ziele. 
        Er scheut vor nichts zurück und agiert kraftvoll aus Überzeugung. 
        Dabei hilft seine ausdauernde Art und sein praktisches als auch sachliches Denken. 
        Er ist kein Träumer, denn die Realität ist alles was zählt, was für manch andere eigenwillig wirken kann. 
        Geduldig und gleichzeitig pedantisch erledigt er seine Aufgaben und glänzt so manches Mal durch Kreativität.
    </p>
    <br /><br />

    <h3>Der Stier als Mann</h3>
    <p>
        Die einen nennen den Stier faul, andere würden es gemütlich nennen, denn er hat es nie eilig. 
        Böse Zungen nennen ihn sogar langsam, beinahe schwerfällig. 
        Dabei hat der Stier-Mann einfach einen eigenen Rhythmus und möchte nichts überstürzen. 
        In seinem eigenen Tempo läuft er zur Höchstform auf.
        Der Stier-Mann bleibt ein unnachgiebiger Sturkopf. 
        Das kann ihn zu einem unbequemen Gemüt machen. 
        Es braucht also ein wenig Toleranz, Geschick und vor allem Geduld mit ihm. 
        Aber der Aufwand lohnt sich, denn fühlt sich der Stier verstanden, so gibt er alles für seine Lieben. 
        Seine:n Partner:in trägt er auf Händen und steht wie ein Fels in der Brandung beschützend sowohl vor als auch hinter ihr. 
        Für seine Herzensdame ist er ohne zu zögern bereit etwas mehr zu investieren, denn geizig ist der Stier ganz bestimmt nicht. 
        Die einzige Gegenleistung, die der Stier-Mann dafür erwartet, ist ein harmonisches Familienleben.
    </p>
    <br /><br />

    <h3>Der Stier als Frau</h3>
    <p>
        Sie ist eine wahrhaftige Genießerin und Liebe geht ja bekanntlich durch den Magen. 
        Kochen ist ihre Leidenschaft. 
        Die Venus verleiht ihr Ausstrahlung und Sinnlichkeit.
        Stiere sind Gewohnheitstiere und so lassen ihnen ungeklärte Umstände oder gar Veränderungen keine Ruhe und können die sonst so starke Stier-Frau aus der Fassung bringen. 
        Zweisamkeit ist, neben der Liebe und Sexualität, der Stier-Dame besonders wichtig. 
        Auch sie ist, wie der Stier-Mann, eine sehr treue und zuverlässige Seele. 
        Egal was ist, die Stier-Frau ist ganz sicher mit ganzem Herzen dabei.
    </p>
</div>




<!-- Löwe -->
<div class="contentBoxBlock" id="zodiacInformationLeo" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Leo_Small.png" alt="Löwe">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Löwe</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Der Löwe liebt das Rampenlicht und sonnt sich nahezu darin. 
        Man könnte ihn geradezu als extrovertiert bezeichnen. 
        Die Bewunderung seiner Mitmenschen ist das größte Kompliment. 
        Das Sternzeichen Löwe ist stark und von sich selbst überzeugt und hat auch kein Problem dies zu zeigen. 
        Energisch und beharrlich setzt er sich fest entschlossen für seine Ziele ein. 
        Er ist besonders begeisterungsfähig und kennt kein Nein. 
        Aus dem Feuerzeichen schöpft er seine Lebensenergie und findet durch sein kreatives und optimistisches Gemüt immer wieder zurück zu seiner ruhenden Mitte.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Löwe</h3>
    <p>
        Großmütig und gleichzeitig gerecht geht der Löwe durch das Leben. 
        Durch seine führungsstarke Ausstrahlung wird er als kraftvoll und schöpferisch empfunden. 
        Willensstark stellt er sich jeder Aufgabe und akzeptiert kein Scheitern. 
        Zur absoluten Höchstform steigt er auf, wenn Konkurrenz versucht, seinen Platz streitig zu machen. 
        Er ist wettbewerbsfreudig, tatkräftig und unerschrocken. 
        Seine stärkste Eigenschaft ist sein natürliches Auftreten, denn der Löwe weiß, was er zu bieten hat und hat es nicht nötig sich zu verstellen. 
        Leidenschaftlich und doch risikofreudig packt der Löwe gern an, denn seine Hingabe kennt keine Grenzen.
        Dennoch steckt tief im Löwen ein schnurrendes Kätzchen. 
        Herzlich, treu und vor allem liebenswürdig kennen ihn seine Lieben. 
        Nur zu gern zeigt er sich im Kreise seiner Vertrauten verspielt und offen.
    </p>
    <br /><br />

    <h3>Schwächen und Macken des Löwen</h3>
    <p>
        Über seine Schwächen zu reden, fällt dem Löwen extrem schwer. 
        Wenn es nach ihm ginge, dann hätte er keine. 
        Das wirkt auf viele arrogant und überheblich. 
        Der Löwe würde seine Schwächen im Gegenteil als Stärken listen, denn ganz nach seinem Motto "Ich bin und ich will!" steht der Löwe dominant für seinen Willen ein. 
        Das lässt ihn herrschsüchtig und stur wirken.
        Eine Diskussion mit einem Löwen einzugehen, ist wie die Höhle des Löwen zu betreten, denn er ist hochgradig kritikunfähig. 
        Seine Art der Argumentation kann für manchen verletzend sein, aber das ist nur seine eigenwillige und direkte Art. 
        Der Löwe nimmt ganz einfach kein Blatt vor den Mund und sieht sich gern als Mittelpunkt seines Universums.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Löwe in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Löwen sind leidenschaftliche Liebhaber. 
        Der Löwe liebt die Eroberung, wie auch den guten Sex gleichermaßen und möchte auch in dieser Aufgabe, wie könnte es anders sein, der Beste sein. 
        Unter den Vertretern des Tierkreises ist er der leidenschaftlichste Liebhaber, denn er weiß mit seinen Reizen und Stärken zu spielen.
        Sein Charakter und sein Selbstbewusstsein sind ein echter Liebesmagnet. 
        Dabei ist nicht nur sein strahlendes Aussehen fesselnd, sondern auch seine innere Stärke, die dafür sorgt, dass ihm alle zu Füßen liegen. 
        Sein charmantes Wesen und sein treues Herz zeichnen ihn besonders aus.
        Wer einen Löwen für sich erobern kann, der darf sich über eine sehr besondere Stellung in seinem Leben freuen. 
        Die Liebe und eine Beziehung zu dem Sternzeichen Löwe ist etwas Einmaliges und Intensives. 
        An der Seite des Löwen fühlt man sich besonders sicher und behütet durch sein würdevolles und beschützendes Auftreten. 
        Wer die Liebe des Löwen gewinnt, der darf sich über großzügige Geschenke und Aufmerksamkeiten freuen, denn seine Lieben trägt er auf Händen. 
        Genauso strahlend wie sein Äußeres, ist auch sein Inneres und so heißt es zu Recht, dass der Löwe ein Herz aus Gold hat.
        Aber Achtung, der Löwe ist immer noch ein Jäger. 
        Gibt man ihm zu viel, wird er sich seiner Sache zu sicher. 
        Das kann die ganze Spannung aus der Beziehung nehmen. 
        Ein bisschen Drama hier und da hält die Beziehung frisch und lässt das Feuer weiter lodern.
    </p>
    <br /><br />

    <h3>Der Löwe im Beruf – Die Karriereleiter ist sein Revier</h3>
    <p>
        Wenn man dem Löwen etwas hoch anrechnen muss, dann ist es sein Ehrgeiz. 
        Miese Spielchen und unfaires Verhalten gegenüber Nebenbuhlern sind unter seinem Niveau. 
        Das Sternzeichen Löwe ist von sich überzeugt und das ist seine größte Waffe. 
        Sein Potenzial schöpft er vor allem aus, wenn er Dinge tut, für die der Löwe leidenschaftlich brennt. 
        Solang seine Eitelkeit nicht im Weg steht, kann er Großes leisten.
        In seinem Beruf mag der Löwe auf viele arrogant oder verwöhnt wirken, jedoch arbeitet er hart für seine Ziele und da darf ein bisschen triumphierendes Selbstbewusstsein auch mal sein.
        Als Segen jedes Unternehmens ist der Löwe gewillt sein Bestes zu geben, scheut keine Verantwortung und arbeitet stets selbstständig. 
        Er gibt Vollgas und ist sich dabei nicht zu schade immer mehr zu geben als die anderen. 
        Dabei fügt der Löwe gern seine eigene Note hinzu, denn Standard erfüllt nicht ansatzweise die Reichweite seiner Messlatte. 
        Ganz egal in welchem Beruf der Löwe-Geborene tätig ist, er gestaltet die Zeit und Aufgaben für sich und andere Betroffene zu etwas ganz Besonderem. 
        Dank seinem ausgeprägten Sinn für Gerechtigkeit, ist er unter seinen Mitmenschen keineswegs unbeliebt. 
        Unterdrückung und Gemeinheiten unterbindet der Löwe sofort und lässt dafür auch gern mal die Krallen raus. 
        Aber Achtung, muss der Löwe mal ein Problem übernehmen, das nicht nach seinem Geschmack ist, kann er zum zickigen Kätzchen mutieren.
    </p>
    <br /><br />

    <h3>Der Löwe als Mann</h3>
    <p>
        Der Löwe-Mann ist ein wahrhaftiger König und liebt den Mittelpunkt und die Bewunderung. 
        Sein Motto "Es kann nur einen geben" zählt für ihn in jedem Lebensbereich, egal ob beruflich oder privat. 
        Der Löwe-Mann lässt keine Konkurrenz zu, erst recht nicht, wenn es um seine:n Angebetete:n geht. 
        Respektiert er/sie das, liest der Löwe ihr jeden Wunsch von den Augen ab. 
        Als richtiger Gentleman weiß er sein:e Partner:in zu umwerben und zu umsorgen, egal ob die Tür aufhalten, den Stuhl zurechtrücken oder ihr/ihm an einem kühlen Sommerabend seine Jacke überlassen.
        Für den Löwen ist jeder Tag eine neue Chance für Erfahrungen, Erlebnisse und noch größere Ziele. 
        Planlos in den Tag leben oder jeden Tag dasselbe machen, das ist nicht seine Welt. 
        Seine furchtlose und unternehmungslustige Art zwingt den Löwe-Mann in neue Abenteuer und Herausforderungen. 
        Der Löwe braucht sein eigenes Reich und Raum, um sich jeden Tag aufs Neue entfalten zu können. 
        Lässt man ihm diesen Raum um sich kreativ austoben, geht es ihm gut.
    </p>
    <br /><br />

    <h3>Der Löwe als Frau</h3>
    <p>
        Die Löwe-Frau hat gern die Hosen an und zeigt das auch. 
        Mit ihrer charmanten Art wickelt die Löwin alle um den Finger und kümmert sich liebevoll um ihre Lieben. 
        Verführen ist ihre Spezialität. Wo auch immer sie ist, sie steht im Mittelpunkt. 
        Das lockt viele Verehrer an, bereitwillig ihre Herzen zu verschenken. 
        Allerdings gibt sich die Löwin nicht allzu leicht zufrieden. 
        Für sie ist nur das Beste vom Besten gut genug und das verdient sie auch. 
        Daher kann es auch mal länger dauern, bis die schöne Löwin den Richtigen findet. 
        Der sicherste Weg in ihr Herz? Weltgewandt, zielstrebig und gut betucht sollte er/sie sein. 
        Immerhin ist die Löwe-Frau selbst Luxus pur.
    </p>
</div>



<!-- Jungfrau -->
<div class="contentBoxBlock" id="zodiacInformationVirgo" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Virgo_Small.png" alt="Jungfrau">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Jungfrau</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Die Jungfrau ist fleißig und bereitet sich stets behutsam und gründlich auf ihre Aufgaben vor. 
        Sie scheut sich nicht davor, ihren Kopf zu benutzen. 
        Dabei ist sie auch kritisch und hinterfragt ihre Umwelt. 
        Jungfrauen sind auch dafür bekannt, dass sie intelligent sind, aber aufgrund ihrer introvertierten Natur haben sie manchmal Schwierigkeiten, sich auszudrücken. 
        Ein Gespräch mit ihnen kann sich anfühlen, als würde man an der Oberfläche ihrer Existenz schweben und nie wissen, was sie tief im Inneren denken und fühlen.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Jungfrau</h3>
    <p>
        Das Sternzeichen ist neugierig und lernbegierig. 
        An Probleme geht das Zeichen Jungfrau logisch heran und überlegt und versucht alles zu strukturieren, um Ordnung hereinzubringen. 
        Im Leben ist sie zielstrebig und zuverlässig, vor allem gegenüber ihren Mitmenschen und Aufgaben. 
        Sie ist wie ein Taschenrechner, denn alles wird berechnet und vorher exakt kalkuliert.
        Jungfrau-Geborene möchten auf alles gefasst und vorbereitet sein. Sie verhalten sich zwar objektiv, aber ist dennoch fürsorglich. 
        Rationales Denken und Handeln gelingen der Jungfrau besser als alles Emotionale. 
        Das ist etwas, was sie nicht ganz versteht.
    </p>
    <br /><br />

    <h3>Schwächen und Macken der Jungfrau</h3>
    <p>
        Die Jungfrau wirkt intolerant und misstrauisch, wobei man nicht genau sagen kann, ob sie tatsächlich so kritisch ist oder einfach nur ängstlich. 
        Sie ist sehr rational und wirkt dadurch kühl und unzufrieden. 
        So mancher beschreibt sie als kleinlich und verklemmt.
        In gesundheitlichen Fragen ist das Sternzeichen ein kleiner Hypochonder und schon nahezu pedantisch. 
        Im Alltag kann sie auch nörgeln, aber das ist nur ihr Perfektionismus, den sie selbst nur schwer erreichen kann. 
        Zu hoch steckt sie ihre Ziele.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Jungfrau in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        In der Liebe ist sie anspruchsvoll und legt großen Wert auf ähnliche Interessen und eine gute Bildung. 
        Das mag für den einen oder anderen seltsam wirken, aber für die Jungfrau sind intellektuelle Gespräche mit dem Partner äußerst wichtig und prägnant für das weitere gemeinsame Leben. 
        Außerdem sollte ihr Gegenüber stets über sich hinauswachsen wollen.
        Leidenschaft ist zwar ein Teil ihrer Beziehung, aber eben nicht das Wichtigste. 
        Ein kulturelles Gemüt und Interesse an der eigenen Weiterbildung sind schon die halbe Miete, denn mit Niveau und Anstand kommt man nah ran an die Ansprüche der Jungfrau.
        Loyalität, Treue und Zuverlässigkeit sind nur einige ihrer Eigenschaften, wenn die Jungfrau verliebt ist. 
        Aber Achtung, Routine ist für jede Beziehung wie Gift.
    </p>
    <br /><br />

    <h3>Die Jungfrau im Beruf – Die Karriereleiter in Balance</h3>
    <p>
        Das Sternzeichen Jungfrau ist regelrecht planungsfanatisch und darin ein absolutes Naturtalent. 
        Wenn sie sich etwas vornimmt, dann schafft sie dies auch. 
        Das hängt auch stark mit ihrem Hang zur Sauberkeit zusammen, denn ein sauberer und aufgeräumter Arbeitsplatz bietet gleich mehr Motivation und weniger Ablenkung.
        Jungfrauen betrachten alles realistisch und halten nichts von Träumen. 
        Warum an etwas denken und sich etwas wünschen, dass man mit ein wenig Disziplin und Ordnung erreichen kann? Dafür braucht das Sternzeichen klare Grenzen, um die Fakten eindeutig untersuchen und bearbeiten zu können. 
        Ihre Liebe zum Detail ist einzigartig und so kann sich die Jungfrau mit großer Ausdauer mit Zahlen und Daten beschäftigen und besonders exakt arbeiten. 
        Dabei ist ganz egal, ob es sich um praktische Kleinarbeiten oder große Denkaufgaben dreht.
        Das Sternzeichen kennt seinen Wert und weiß seine Besonderheiten zu schätzen. 
        Daher erwarten sie für sich persönlich ebenfalls nur das Beste. 
        Die Jungfrau ist sehr ehrgeizig und zielstrebig, aber die vollendete und gelungene Arbeit ist weitaus gewichtiger als Lob und Komplimente oder gar finanzielle Prämien. 
        Allgemein geht es den Jungfrauen nicht darum, einen sozialen Status durch ihren Beruf auszustrahlen, sondern eher Spaß an der Sache zu haben und etwas zu bewirken.
    </p>
    <br /><br />

    <h3>Die Jungfrau als Mann</h3>
    <p>
        Der Jungfrau-Mann hält sich oft bedeckt und unauffällig im Hintergrund, denn er ist ein wenig schüchtern. 
        Das bringt viele Vorteile, da er dadurch still und heimlich zum Beobachter der Gesellschaft wird. 
        Vor allem, bei der Wahl seiner/seines Auserwählten ist das ein perfekter Trumpf. 
        Aber auch im Beruf kann es viele Türen öffnen.
        In der Liebe und einer Beziehung ist die männliche Jungfrau sehr treu. 
        Monogamie ist alles, woran er glaubt und so hält das Sternzeichen auch nichts von kleinen, kurzen Affären. 
        Liebe und Lust gehen Hand in Hand und sein Herz verschenkt er nicht so leicht. 
        Wenn er sich verliebt, dann richtig und gleich mit Hochzeit, Kindern und trautem Heim.
        Der Mann ist bodenständig und hält nicht viel von Spontanität. 
        Ein solider Plan gibt ihm die gewisse Sicherheit und vor allem die finanzielle Absicherung genießt er sehr. 
        Mit Geld kann der Jungfrau-Mann nämlich sehr gut umgehen. 
        Manche behaupten, dass er sogar geizig wäre, aber das ist einfach nur eine Ansichtssache.
    </p>
    <br /><br />

    <h3>Die Jungfrau als Frau</h3>
    <p>
        Die Jungfrau-Dame fürchtet die Enttäuschung und ist daher besonders vorsichtig. 
        Damenhafte und vornehme Zurückhaltung beherrscht sie daher einwandfrei. 
        Auf Außenstehende wirkt sie distanziert und manchmal sogar unnahbar, aber mit dem richtigen Griff und den richtigen Worten, lässt die Jungfrau dann doch einen Blick hinter die Kulissen zu.
        Auch die weibliche Jungfrau liebt es zu planen. 
        Sorgfältig werden mögliche Schritte durchdacht und dadurch jeder Ablauf abgespielt. 
        Wenn dann doch der Fall eintritt, dass ihr Plan nicht aufgeht, so gerät das Sternzeichen schnell in Panik. 
        Das ist wohl eine der wenigen Dinge, die sie aus der Fassung bringen. 
        Hat sie aber jemanden, der ihr eine starke Schulter als Sicherheit bietet, so ist ein bisschen Spontanität auch erträglich.
        Betrachtet man den Alltag der Jungfrau, so gerät man doch recht schnell ins Staunen. 
        Als natürliches und starkes Organisationstalent kümmert sie sich um zehn Aufgaben, während andere Menschen schon an drei zerbrechen. 
        Karriere, Familie, Hobby, etwas Zeit für sich und Freunde kriegt sie spielend leicht unter einen Hut. 
        Da fragt man sich doch, wie sie das zeitlich schafft.
    </p>
</div>




<!-- Waage -->
<div class="contentBoxBlock" id="zodiacInformationLibra" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Libra_Small.png" alt="Waage">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Waage</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Die Waage glänzt durch selbstsicheres Auftreten und hat eine lebensfrohe Art. 
        Sie ist harmoniebedürftig und friedliebend und setzt sich daher für die ausgleichende Gerechtigkeit ein. 
        Stets optimistisch und diplomatisch, versucht das Sternzeichen, die Probleme ihrer Mitmenschen zu lösen und ist dabei verständnisvoll und vermittelnd.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Waage</h3>
    <p>
        Waage-Geborene gelten als perfekte Gesprächspartner:innen. 
        Dabei reden sie nicht nur gern, sondern hören auch gleichermaßen gern zu. 
        Eigenschaften, wie Pünktlichkeit und Höflichkeit zeugen von Respekt und haben einen hohen Stellenwert im Leben der Waage. 
        Das Sternzeichen versucht, die Welt mit ihrem feinen Sinn für Liebe und Schönheit zu einem angenehmeren Ort zu machen.
        Sie gilt als äußerst kultiviert und intelligent. 
        Daher hat die Waage große Freude an geistvollen Gesprächen und am kulturellen Leben. 
        Ein Museumsbesuch hier, eine Lesung da oder auch mal das Tanzbein schwingen, so sieht ein normales Wochenende aus.
    </p>
    <br /><br />

    <h3>Schwächen und Macken der Waage</h3>
    <p>
        So ausgeglichen und kontrolliert die Waage auch sein mag, Entscheidungen treffen zählt nicht zu ihren Stärken. 
        Wer dem Sternzeichen die eine oder andere Entscheidung abnehmen kann, der wird schnell einen festen Platz in ihrem Leben einnehmen. 
        Menschen, die mit eigenen Entscheidungsschwierigkeiten zu kämpfen haben, meidet die Waage.
        Ihr Hang zur Schönheit lässt die Waage als arrogant und eitel gelten. 
        Dabei meint sie es eigentlich nur gut. 
        Sie hat einen empfindlichen Charakter und obwohl sie ein guter Vermittler ist, so ist sie selbst konfliktscheu und dadurch sehr verletzlich. 
        Ihre Oberflächlichkeit schützt sie dabei nach außen.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Waage in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Waage-Geborene sind echte Romantiker und stets auf der Suche nach der großen Liebe. 
        Um für ihn/sie der oder die Eine zu sein, braucht sie ein gewisses Maß an Freiraum und Vertrauen, denn die Waage lebt von ihrem Charme.
        Eifersucht und Missgunst sind typische Liebestöter und bewirken bei der Waage lediglich die sofortige Flucht. 
        Eifersucht oder Wut spürt die Waage selbst nur selten und ist daher ein angenehmer Partner. 
        Die Waage kennt ihre Stellung und hat ein starkes und selbstsicheres Auftreten. 
        Graue Mäuschen geraten daher eher in den Hintergrund und sind nichts für den als eitel geltenden Charakter.
        Die Waage hat große Ansprüche, sowohl an das Innere als auch das Äußere, denn das Auge isst ja bekanntlich mit. 
        Ein kultiviertes Auftreten, ausgeprägte Interessen und Begeisterung für vielseitige Themen, sind immer positive Eigenschaften, um die weltgewandte Waage von sich zu überzeugen.
    </p>
    <br /><br />

    <h3>Die Waage im Beruf – Die Karriereleiter in Balance</h3>
    <p>
        Auch im Beruf legt die Waage großen Wert auf Harmonie und Gleichgewicht. 
        Sie ist zwar zielstrebig und ehrgeizig, aber sieht keine große Bedeutsamkeit darin, ihre Kollegen auszustechen. 
        Ganz im Gegenteil, es ist der Waage sehr wichtig, mit allen klarzukommen und mit ihnen im Reinen zu sein. 
        Spürt sie die Unzufriedenheit eines anderen, fühlt sie sich überfordert und zieht sich zurück. 
        Die Waage möchte eben niemanden verärgern oder verletzen.
        Das Sternzeichen Waage hat viele Stärken und Talente und dadurch viele Berufsmöglichkeiten. 
        Sei es die Begabung, zwischen Menschen zu vermitteln, ihr Empfinden für Gerechtigkeit oder das Ästhetische. 
        Wichtig ist nur, dass sie sich in ihrem Arbeitsumfeld wohlfühlt. 
        Und solange die Waage keine gravierenden Entscheidungen treffen muss, macht sie ihre Aufgabe besonders gut.
    </p>
    <br /><br />

    <h3>Die Waage als Mann</h3>
    <p>
        Der Waage-Mann ist ein echter Gentleman. 
        Immer höflich, zuvorkommend und ein Vertreter der Harmonie. 
        Wer einen Waage-Mann beeindrucken möchte, sollte nichts dem Zufall überlassen. 
        Für ihn sind Schönheit und Eleganz eine Etikette. 
        Aber nicht der Perfektionismus ist wesentlich, sondern die Liebe zum Detail, sei es eine gemachte Frisur, natürlich gerötete Wangen oder ein sauberes Auftreten.
        Der Waage-Mann ist ein Ästhet und so putzt auch er sich gern heraus. 
        Aus diesem Grund wird das Sternzeichen oft als oberflächlich vernommen. 
        Der Mann mit einem Hang zur Schönheit zeigt einfach gern, was er hat. 
        Ein bisschen flirten hier und ein paar heiße Blicke da, sind für den Waage-Mann von großer Bedeutung, denn er braucht das Gefühl, begehrt zu werden. 
        Aber Achtung, er ist ein Kavalier und hat er sich erst einmal festgelegt, dann ist das Sternzeichen auch treu.
        Entscheidungen treffen, fällt dem Waage-Mann allerdings trotzdem schwer. 
        Vor allem, wenn seine Entscheidung andere Menschen betrifft, braucht er Rat und Hilfe von außen, denn er möchte niemanden vor den Kopf stoßen.
    </p>
    <br /><br />

    <h3>Die Waage als Frau</h3>
    <p>
        Die Waage-Frau zeigt sich gern von ihrer Schokoladenseite und legt großen Wert auf ihr Äußeres. 
        Natürlich sind Äußerlichkeiten nicht alles, aber der erste Eindruck ist eben essenziell und ausschlaggebend und das gilt auch für ihr Gegenüber. 
        Die typische Waage-Frau ist kultiviert und beschäftigt sich gern mit der Kunst und den schönen Dingen des Lebens. 
        Sie philosophiert gern, bildet sich weiter und sucht immer nach neuen Herausforderungen.
        Wie auch der Waage-Mann, fällt es der Waage-Frau unheimlich schwer, Entscheidungen zu treffen. 
        Sie ist unentschlossen und scheut die kleinsten Entschlüsse. 
        Zu groß ist der Druck, sich für das falsche zu entscheiden und dadurch jemand anderen zu verärgern oder gar zu verletzen. 
        Die Waage-Frau ist äußerst harmoniebedürftig und erträgt das Gefühl der Schuld nicht, wenn jemand sauer auf sie ist. Konflikte, Diskussionen und lautes Geschrei umgeht sie in großem Bogen. 
        Dies gilt für jede ihrer zwischenmenschlichen Beziehungen. 
        Emotionen, wie Wut irritieren sie und sorgen dafür, dass sie lieber gleich nachgibt. 
        Dabei ist es ihr dann auch egal, dass sie eigentlich im Recht ist.
    </p>
</div>




<!-- Skorpion -->
<div class="contentBoxBlock" id="zodiacInformationScorpio" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Scorpio_Small.png" alt="Skorpion">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Skorpion</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Der geborene Skorpion ist tiefgründig wie der goldene Herbst und ruhig wie der bevorstehende Winter. 
        Sein Element ist das Wasser und wie das Wasser ist er meist still und gelassen und gelegentlich aufbrausend und stürmisch. 
        Er ist wie Ebbe und Flut. Nicht umsonst heißt es, stille Wasser sind tief.
        Jeden Tag aufs Neue begibt der Skorpion sich auf die Suche nach dem Sinn des Lebens.
        Hinterfragen, diskutieren und für seine Überzeugungen kämpfen, macht den Skorpion so ausdauernd.
        Regiert wird er gleich von zwei Planeten, dem Pluto und Mars, dem Kampfplaneten.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Skorpion</h3>
    <p>
        Der Skorpion hat einige einzigartige Charaktereigenschaften, die auf sein Tierkreiszeichen zurückzuführen sind.
        Der Skorpion ist unerschrocken und zäh.
        Wenn andere wegschauen, dann schaut er ganz genau hin.
        Dabei hilft dem Sternzeichen Skorpion, dass er äußerst belastbar und furchtlos ist.
        Mutig sein ist eine Einstellung.
        Was den Skorpion ganz besonders auszeichnet, ist seine instinktive Ader.
        Grübelnd und analysierend sucht er immer nach Fragen, um daraufhin Antworten zu finden.
        Dabei geht er sehr zielstrebig, forschend und kraftvoll vor.
        Das Mysteriöse und Geheimnisvolle hat auf Skorpione eine magische Anziehungskraft, die sie selbst so manches Mal unergründlich macht.
        Der Skorpion ist einfach nicht zu durchschauen!
        Im Leben ist er engagiert, entschlossen und oftmals selbstkritisch, was den Skorpion allerdings auch zu einem anstrengenden Gemüt machen kann.
        Dennoch ist er sehr intelligent und versucht, seine Suche nach Antworten kreativ und leidenschaftlich zu gestalten.
        Seine Lieben schätzen vor allem, wie zuverlässig er ist.
    </p>
    <br /><br />

    <h3>Schwächen und Macken des Skorpions</h3>
    <p>
        So wie seine Lieblingsfarbe schwarz, dunkel und trüb ist, so ist auch manchmal sein Gemüt.
        Viel zu oft konzentriert sich der Skorpion nur auf das Negative und äußert sich pessimistisch oder sarkastisch.
        Dabei wäre das Sternzeichen Skorpion viel glücklicher, wenn es die schönen Dinge des Lebens bewusster wahrnehmen würde.
        Bei dem, was er tut oder denkt, ist der Skorpion oftmals kompromisslos, rechthaberisch und zugleich gerissen.
        Geschickt versucht er hier und da seine Mitmenschen zu manipulieren, um sie von seinen Ansichten zu überzeugen.
        Für seine Ziele und seinen Erfolg kann der Skorpion auch mal seinen Stachel auspacken und verhält sich skrupellos und machtgierig.
        Gegenüber anderen Menschen ist er misstrauisch, während er selbst undurchschaubar bleibt.
        Er spricht offen aus, was ihn beschäftigt und stört – was andere Menschen verletzt.
        Aber Achtung, das Sternzeichen Skorpion kann jähzornig und nachtragend sein. Etwas zu verzeihen ist eine Sache, aber bis der Skorpion vergisst, braucht es etwas mehr Zeit.
        Neben seiner nachtragenden Art ist die Eifersucht des Skorpions seine größte Schwäche.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Skorpion in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Den Skorpion umgibt eine magische Ausstrahlung, voller Leidenschaft.
        Verführung ist für ihn ein Kinderspiel, denn sein atemberaubender und durchdringender Blick lässt jeden kurz erbeben und einen leichten Schauer über den Rücken spüren.
        Im Bett ist er ein vielseitiger Liebhaber, weiß seine Reize einzusetzen und kennt so manche Tipps und Tricks.
        In der Liebe und Beziehung verhält sich der Skorpion allerdings konservativer und bedeckter.
        Werte wie Treue und Zuverlässigkeit sind ihm wichtig und so sehnt der Skorpion sich nach einem/einer Partner:in, an dessen/deren Schulter er sich ausruhen kann.
        Hat man erst sein Vertrauen gewonnen, ist der Skorpion ein Partner fürs Leben. Sein Vertrauen schenkt er allerdings nicht von heute auf morgen.
        Wer es ernst meint, muss sich beweisen.
        Das gilt nicht nur in der Liebe, sondern auch für enge Freundschaften.
        Hat man sein Zutrauen, dann hat man einen loyalen Gefährten fürs Leben, der bedingungslos liebt und gibt.
        Wer dem Skorpion dasselbe Maß an Respekt und Loyalität entgegenbringt, der kann auf die Liebe des Skorpions bauen.
    </p>
    <br /><br />

    <h3>Der Skorpion im Beruf – Die Karriereleiter bergauf</h3>
    <p>
        Skorpione stehen im Beruf nicht gern unter der Kontrolle anderer.
        Selbstständiges Arbeiten ist für sie der Grundstein für eine gute Arbeit.
        Was sie von allen anderen abgrenzt, ist ihre Liebe für das Extreme.
        Sie scheuen weder Probleme noch Herausforderungen und stürzen sich in unerforschte Gebiete.
        Am liebsten im freien Fall.
        Für den Skorpion-Geborenen ist es wichtig, mit dem Herzen dabei zu sein, sonst langweilt er sich und sucht schnell nach neuen Projekten.
        Seine Charaktereigenschaften qualifizieren ihn für viele verschiedene Berufe.
        Vor ihm ist kein Geheimnis oder Gedanke sicher.
        Geschickt durchschaut er jeden Einzelnen und weiß, seine Stärken für sich zu nutzen.
        Worauf Skorpione allerdings achten müssen, ist, sich nicht zu überarbeiten.
        Ist er erst einmal in seine Arbeit vertieft, vergisst er gern alles um sich herum sowie zu essen oder zu schlafen.
        Um möglichst lange Nutzen von seinem Schaffen zu haben, sollte das Sternzeichen Skorpion seine Gesundheit nicht vernachlässigen.
        Eine Pause hier und da wird ihm nicht den Erfolg stehlen.
    </p>
    <br /><br />

    <h3>Der Skorpion als Mann</h3>
    <p>
        Der Skorpion-Mann ist ein richtiger Marionettenspieler.
        Die Bühne und das Rampenlicht überlässt er lieber den anderen.
        Ihm reicht es zu wissen, dass er im Hintergrund die Macht hat.
        Prahlerei ist eben nicht sein Ding.
        Zudem ist der Skorpion-Mann ein Taktiker.
        Hier und da steht er sich selbst im Weg und schafft Probleme, wo keine sind.
        Das Sternzeichen Skorpion denkt eben zu kompliziert.
        Wie auch die Skorpion-Frau liebt der Skorpion-Mann Lebensherausforderungen.
        Leichte Tätigkeiten überlässt er den anderen Tierkreiszeichen!
        Probleme zu lösen, an denen andere scheitern, stachelt seinen Ehrgeiz nur weiter an und lässt ihn zur Höchstform auflaufen.
        Geheimnisvoll und leidenschaftlich weckt der Skorpion-Mann das Interesse der anderen.
        Das kann dafür sorgen, dass man beim Skorpion nicht sicher ist, woran man bei ihm ist.
        Für ihn allerdings ist es ein schönes Spiel, denn er wird gern von seinem/seiner Partner:in überrascht und freut sich, neue Seiten an ihm/ihr zu entdecken.
        Der Skorpion-Mann hat außen eine harte Schale und innen einen weichen Kern.
        Knackt man sie, dann kommt die brodelnde Leidenschaft und das Feuer des Skorpion-Mannes zum Vorschein.
        Das braucht allerdings Zeit und ein wenig Geschick, denn seine Selbstbeherrschung kennt kein Pardon.
    </p>
    <br /><br />

    <h3>Der Skorpion als Frau</h3>
    <p>
        Skorpion-Frauen sind selbstbewusst und selbstständig und packen gern mit an.
        Egal was die Skorpion-Dame macht, sie macht es mit vollem Einsatz und ist immer mit dem Herzen dabei.
        Dasselbe erwartet sie allerdings auch von ihren Mitmenschen. Die Skorpion-Lady hat nämlich hohe Ansprüche.
        Giftig wird sie nur dann, wenn etwas nicht nach ihrem Stachel geht.
        Die Skorpion-Geborene sollte nicht allzu leichtfertig unterschätzt werden.
        Sie mag zwar lieb und süß wirken, aber diese Frau hat es faustdick hinter den Ohren.
        Die Skorpion-Frau ist sehr ehrlich und spricht stets aus, was ihr durch den Kopf geht.
        Damit kann allerdings nicht jeder umgehen, was zu Diskussionen führen kann.
        Sie selbst ist sehr nachtragend.
        Wer einen guten Rat braucht oder ein offenes Ohr, der ist bei der Skorpion-Frau genau richtig!
        Ausgezeichnete Menschenkenntnis und emphatisches Empfinden machen die Skorpion-Frau zum perfekten Ratgeber.
        Schwierige Herausforderungen sind ganz nach ihrem Geschmack, denn sie liebt es, sich unter Beweis zu stellen.
        Eine Beziehung mit dem Skorpion ist sehr intensiv und so ist auch ihre Eifersucht.
        Die Skorpion-Frau teilt einfach nicht gern.
        Drama, endlose Diskussionen und eine heftige Szene sind das Resultat.
        Allerdings macht die Skorpion-Dame das mit ihrem treuen und großen Herzen wieder wett.
        Auf die Skorpion-Frau ist eben immer Verlass.
    </p>
</div>




<!-- Schütze -->
<div class="contentBoxBlock" id="zodiacInformationSagittarius" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Sagittarius_Small.png" alt="Schütze">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Schütze</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Der Schütze ist zwar im Winter geboren, aber alles andere als trist. 
        Er ist ein wahrer Optimist und glaubt an das Gute. 
        Dabei versucht er stets, mit bestem Beispiel voranzugehen. 
        Er glaubt an feste Ideale und versucht nach ihnen zu leben. 
        Menschen mit dem Sternzeichen Schütze haben das Gefühl, dass die Welt ihr Spielplatz ist. 
        Sie lieben es, das Unbekannte zu erforschen. 
        In ihrem Innersten wollen sie verstehen, wie die Welt funktioniert. 
        Schützen sind Entdecker. 
        Sie sind sowohl die furchtlosen Abenteurer als auch die verbissenen Kritiker.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Schütze</h3>
    <p>
        Schütze-Geborene sind aufrichtig und ehrlich. 
        Offene Kommunikation ist ihnen wichtig und auch wenn sie niemanden verletzen möchten, so kann das mal passieren. 
        Kleinlichkeiten und nörgelnde Menschen kann das Sternzeichen nun mal überhaupt nicht leiden und sieht da einfach rot.
        Das Sternzeichen ist immer aktiv und in Bewegung, regelrecht dynamisch und feurig (Feuerzeichen!) und immer auf der Suche nach der Freiheit.
        Weltoffen und wissensdurstig sucht das Sternzeichen sich seine Ziele und ist dabei auch mal spontan. 
        Neugierig und intuitiv stürzt er sich in neue Abenteuer und ist dabei immer heiter gestimmt. 
        Der Schütze geht eben sorglos durch das Leben und verlässt sich am liebsten auf seinen Verstand. 
        Der Schütze ist intelligent und inspirierend durch seine philosophische und schlagfertige Art.
    </p>
    <br /><br />

    <h3>Schwächen und Macken des Schützen</h3>
    <p>
        Das Sternzeichen wird durch seine extrovertierte Ader als großspurig und eigensinnig empfunden. 
        Mit seinem Wissen geht der Schütze gern angeberisch um und wirkt dadurch belehrend, dabei kommuniziert er einfach gern. 
        Oftmals merkt er nicht, wie sehr er abschweift und verliert sich in seinen Gedanken. 
        Steigert sich der Schütze in einen Gedanken rein, dann wird er regelrecht fanatisch und schafft es nur schwer sich wieder zu fangen.
        Man könnte meinen, dass er nicht nachdenkt, bevor er spricht. 
        Dabei ist der Schütze einfach sehr ehrlich und meint es gar nicht böse. 
        Sein Interesse für die philosophischen Weisheiten des Lebens ist manchmal so extrem ausgeprägt, dass er schon fast scheinheilig wirkt. 
        Das ist seine Art, sich um sein Innerstes zu kümmern. 
        Yoga, Meditation, Religion und Esoterik sind nur wenige Möglichkeiten, um sich um seinen Geist zu kümmern.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Schütze in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Die Liebe ist sein Mysterium. 
        Sie hat etwas Magisches und Fantasievolles, aber nur solang, wie sie leidenschaftlich und frisch bleibt. 
        Eifersucht und vor allem der typische Alltagstrott treiben das Sternzeichen in die Flucht und lassen ihn das Weite suchen. 
        Er braucht ein wenig Freiraum und vor allem Entscheidungsfreiheit, denn bevormundet zu werden gefällt dem Schützen einfach nicht.
        Was der Schütze allerdings schätzt, ist die Leidenschaft. 
        Er liebt die Nähe und Wärme der Zweisamkeit. 
        Um das Feuer frisch zu halten, braucht es Wege und Möglichkeiten. 
        Wieso nicht einfach zu zweit die Welt bereisen?
    </p>
    <br /><br />

    <h3>Der Schütze im Beruf – Die Karriereleiter hoch und runter</h3>
    <p>
        Der Schütze träumt von einer besseren Welt und versucht für dieses Ziel mit anzupacken. 
        Gern verbindet er alle seine Fähigkeiten, um das Optimale aus seinem Wissen und Können zu schöpfen. 
        Wesentlich ist nur, dass er sich für seine Arbeit begeistert. 
        Die Berufung zum Beruf machen, das ist sein größter Wunsch.
        Seine beruflichen Streben verknüpft er gern mit den privaten Plänen und verliert auch hier schnell den Blick für die Realität. 
        Am Ende sorgt das leider für Enttäuschung und Unzufriedenheit, die sich auf sein Arbeitsfeld ausweitet. 
        Das macht den Schützen zu einem anstrengenden Kollegen, da er kein Blatt vor den Mund nimmt und ausspricht, was ihn beschäftigt und bewegt.
    </p>
    <br /><br />

    <h3>Der Schütze als Mann</h3>
    <p>
        Der Schütze-Mann ist ein richtiger Abenteurer, immer auf der Suche nach dem Neuen und immer am Pläne schmieden. 
        Eintönigkeit ist für ihn Langeweile pur, denn er braucht den Kick und die Spannung. 
        So hat das Sternzeichen auch große Angst davor, etwas zu verpassen. 
        Dabei ist er so viel unterwegs, dass er manchmal gar nicht merkt, wie erschöpft er tatsächlich ist. Weniger ist eben mehr.
        In der Freundschaft bietet der Schütze-Mann viele abwechslungsreiche Aktivitäten und sorgt für viel Spaß. 
        Er ist ein wahrer Unterhaltungskünstler und ist dabei immer voller Tatendrang und positiver Energie.
        Er ist großzügig und ein echter Frauenmagnet. 
        Sein weltmännischer Charakter ist extrem anziehend und macht jede Frau verrückt nach dem Weltreisenden. 
        Auch wenn ihm die Frauenherzen nur so zufliegen, sein Herz verschenkt er nicht so leicht. 
        Der Schütze-Mann wartet auf die eine große Liebe, denn seine Freiheit ist ihm teuer und heilig. 
        Er kennt seinen Wert und weiß seinen Charme zu nutzen. 
        Das macht ihn zu einem kleinen Herzensbrecher, wobei er keine bösen Absichten hat. 
        Mit den Gefühlen der Damen zu spielen oder sogar jemanden zu verletzen ist nicht der Plan.
    </p>
    <br /><br />

    <h3>Der Schütze als Frau</h3>
    <p>
        Die Schütze-Frau geht stets mit erhobenem Kopf und einem breiten Grinsen im Gesicht durch das Leben. 
        Sie ist ein kleiner Sonnenschein und verzaubert gern die Männerwelt. 
        Sie weiß eben ganz genau, wie sie die Herren um ihren kleinen Finger wickeln kann. 
        Voller Optimismus, Selbstbewusstsein und einer spielenden Leichtigkeit meistert die Schütze-Dame ihren Alltag. 
        Die gute Laune und der Glaube an das Gute helfen dabei sehr.
        Nach außen wirkt die Schütze-Frau so, als ob sie genau wüsste, wohin sie das Leben führt, auch wenn das nicht so ist. 
        Aber am Ende findet sie dann doch den Weg zum Ziel und das nur dank der Zuversicht und dem Glauben. 
        Abwechslung ist der Schlüssel zu ihrer Freude, denn die Langeweile ist für sie eine Qual.
        Was die Schütze-Frau allerdings überhaupt nicht leiden kann ist, wenn man ihr versucht Vorschriften zu machen und sie zu bevormunden. 
        Sie ist immerhin eine unabhängige Frau und weiß, was gut für sie und was sie auf dem Kasten hat. 
        Ihre Freiheit ist ihr mindestens genauso wichtig, wie ihre Unabhängigkeit. 
        Deswegen bindet sich das Sternzeichen einfach nicht gern an Partner oder Beziehungen.
    </p>
</div>




<!-- Steinbock -->
<div class="contentBoxBlock" id="zodiacInformationCapricorn" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Capricorn_Small.png" alt="Steinbock">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Steinbock</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary">
        Der Steinbock hat einen sehr kontrollierten Charakter. 
        Verantwortungsbewusstsein und Leistung ist sein erstes Gebot. 
        Daher ist es kein Wunder, dass der ehrgeizige Steinbock stets die Verantwortung gegenüber sich, seinen Aufgaben und seinen Mitmenschen übernimmt. 
        So wie auch sein Tierkreiszeichen kennt der Steinbock nur den Weg nach oben und ist stets auf festem Fuß unterwegs.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Steinbock</h3>
    <p>
        Der Steinbock kennt keine Grenzen. 
        Hartnäckig und voller Ehrgeiz kämpft er für seine Ziele und falls es mal länger dauert, wartet er geduldig. 
        Strategisch und gründlich bereitet der Steinbock sich auf seine Aufgaben vor, ohne typischerweise den Blick für das Realistische und Wesentliche zu verlieren und wird dabei so manches Mal kreativ. 
        Seine Stärke besteht darin, auf lange Zeit konstant abliefern zu können. 
        Sich abzuhetzen, um schneller an sein Ziel zu kommen, ist nicht seine Art.
        Das Sternzeichen Steinbock ist traditionsbewusst und geht gradlinig durch das Leben und wird daher oft als ernst wahrgenommen. 
        Die Treue gegenüber seinen Lieben als auch seinen Grundsätzen und Werten sieht der Steinbock als seine Pflicht an.
    </p>
    <br /><br />

    <h3>Schwächen und Macken des Steinbocks</h3>
    <p>
        Wer einen Steinbock in seinem unmittelbaren Umfeld hat, der weiß die Eigenschaften des Steinbocks sehr wohl zu schätzen, aber weiß eben auch, wie anstrengend er werden kann. 
        Der typische Steinbock lebt gern auf autoritärem Fuß und kontrolliert dabei nicht nur pedantisch sein eigenes Leben, sondern auch das seiner Umgebung.
        Mit dem Steinbock zu diskutieren führt ins Nichts, ist er immerhin engstirnig und starrköpfig. 
        Oft lebt er in seiner eigenen Realität. 
        Soziale Interaktion meidet der typische Steinbock ganz bewusst. 
        Vor allem in der Gegenwart von Fremden ist das Sternzeichen Steinbock ungesellig und unnahbar. 
        Auf sein Umfeld wirkt er daher steif.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Steinbock in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Der Steinbock-Geborene gilt als ein vernünftiger und konservativer Lebensbegleiter. 
        Ordentliche Manieren, Sitten und Benehmen haben für ihn eine große Bedeutung. 
        An den Partner oder die Partnerin hegt das Sternzeichen dieselben Erwartungen wie auch an sich. 
        Diszipliniert, ehrgeizig und mit hohen Ansprüchen an sich selbst kann man den typischen Steinbock von sich überzeugen. 
        Allerdings darf es nicht zu prahlerisch sein, also die Contenance wahren.
        Emotionale Menschen schrecken das Sternzeichen Steinbock ab, da er sich mit ihnen nicht identifizieren kann. 
        Daher hat Leidenschaft in der Liebe auch keine primäre Bedeutung für ihn. 
        Eifersüchtig kann das Sternzeichen Steinbock in einer Beziehung trotzdem werden.
        Insgesamt scheint der Steinbock ein eher schwieriger Geselle zu sein. 
        Über Probleme mit dem Partner oder die Partnerin zu sprechen, fällt ihm sehr schwer. 
        Dadurch scheint er die meiste Zeit ruhig und glücklich, bis es sich in ihm anstaut und es aus ihm herausplatzt. 
        Unabhängig von ihren kleinen Eigenheiten und Marotten sind Steinböcke eine gute Wahl. 
        Haben sie sich erst einmal verliebt, gibt es für sie keine anderen potenziellen Partner mehr.
    </p>
    <br /><br />

    <h3>Der Steinbock im Beruf – Die Karriereleiter hinauf im eigenen Tempo</h3>
    <p>
        Der Charakter des typischen Steinbocks ist ruhig und zurückhaltend und dennoch setzt sich sein Ehrgeiz in der Arbeitswelt und im Beruf durch. 
        Dabei stehen persönliche Interessen an zweiter Stelle, auch wenn materielle Sicherheit für den Steinbock Stabilität im Leben bedeutet. 
        Menschen helfen, für Recht und Ordnung sorgen und für die Gesellschaft etwas leisten gehört eher zu seiner persönlichen Mission. 
        Dabei ist er wie auch im restlichen Leben strukturiert und plant am liebsten alles voraus.
        Daher ist es kein Wunder, dass der typische Steinbock keinen Wert auf Schnelligkeit, sondern Effizienz legt. 
        Ein Schritt nach dem anderen führt das Sternzeichen Steinbock zum Ziel ohne Umwege und unnötigen Stress. 
        Vielleicht ist das sein Erfolgsgeheimnis, denn in jedem Unternehmen ist er der Fels in der Brandung, der/die Mitarbeiter:in, auf den immer Verlass ist und der seine Aufgaben immer mit Bravour vollendet.
    </p>
    <br /><br />

    <h3>Der Steinbock als Mann</h3>
    <p>
        Recht und Ordnung sind dem Steinbock-Mann sehr wichtig und so sieht er sich selbst als Hüter dieser. 
        Dabei sieht er sein persönliches Werteempfinden als Richtlinie für sein Gegenüber und weist diese nur zu gern auf ihr falsches Verhalten hin. 
        Aus der Masse herausstechen und etwas Neues ausprobieren ist nichts für den Steinbock Herren. 
        Dadurch wirkt er auf andere langweilig und penibel.
        Allgemein ist der typische Steinbock-Mann ehrgeizig und tritt seine Aufgaben verbissen an. 
        Allerdings lieber allein, denn Teamwork gehört nicht zu seinen starken Charaktereigenschaften. 
        Der Steinbock vertraut nun mal sich selbst und seinen Qualitäten am meisten.
    </p>
    <br /><br />

    <h3>Der Steinbock als Frau</h3>
    <p>
        Die Steinbock-Damen gelten als unnahbar und wirken auf so manchen sogar kaltherzig. 
        Dabei stehen sie einerseits einfach gern fest und unabhängig auf eigenen Beinen und andererseits ist das der typische Schutzmechanismus der Steinbock Frau. 
        Neue Situationen und fremde Menschen schrecken sie ab und benötigen Zeit, um ausgekundschaftet zu werden. 
        Damit schützt sich die scharfsinnige Steinbock-Frau vor Enttäuschungen und falschen Hoffnungen.
        Legt die Steinbock-Frau erst einmal ihren Schutzmantel ab, so wird aus der zurückhaltenden Frau ein liebevolles kleines Mädchen, dass alles für ihren Partner oder ihre Partnerin tun würde.
        Spontanität gehört allerdings nicht in den Wortschatz der planungsliebenden Steinbock Frau. 
        Wer versucht, ihre Pläne zu kreuzen, der tritt sich nur selbst auf die Füße, denn ihre nächsten Schritte sind immer bis ins kleinste Detail durchgeplant und können gar nicht anders als aufzugehen.
    </p>
</div>






<script src="~/js/zodiacViewSelection.js" asp-append-version="true"></script>
