@* Views/Partial/ZodiacInformation.cshtml *@

<!-- Krebs -->
<div class="contentBoxBlock" id="zodiacInformationCancer" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Krebs_Small.png" alt="Krebs">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Krebs</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-cancer"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Krebs</h3>
    <p id="text1-cancer"></p>
    <br /><br />

    <h3>Sternzeichen Krebs: Schwächen und Macken</h3>
    <p id="text2-cancer"></p>
    <br /><br />

    <h3>Das Sternzeichen Krebs in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-cancer"></p>
    <br /><br />

    <h3>Der Krebs im Beruf – Die Karriereleiter ist nicht alles</h3>
    <p id="text4-cancer"></p>
    <br /><br />

    <h3>Der Krebs als Mann</h3>
    <p id="text5-cancer"></p>
    <br /><br />

    <h3>Der Krebs als Frau</h3>
    <p id="text6-cancer"></p>
</div>




<!-- Zwilling -->
<div class="contentBoxBlock" id="zodiacInformationGemini" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Zwilling_Small.png" alt="Zwilling">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Zwilling</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-gemini"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Zwilling</h3>
    <p id="text1-gemini"></p>
    <br /><br />

    <h3>Schwächen und Macken der Zwillinge</h3>
    <p id="text2-gemini"></p>
    <br /><br />

    <h3>Das Sternzeichen Zwilling in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-gemini"></p>
    <br /><br />

    <h3>Der Zwilling im Beruf – Die Karriereleiter geht bergauf</h3>
    <p id="text4-gemini"></p>
    <br /><br />

    <h3>Der Zwilling als Mann</h3>
    <p id="text5-gemini"></p>
    <br /><br />

    <h3>Der Zwilling als Frau</h3>
    <p id="text6-gemini"></p>
</div>




<!-- Widder -->
<div class="contentBoxBlock" id="zodiacInformationAries" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Widder_Small.png" alt="Widder">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Widder</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-aries"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Widder</h3>
    <p id="text1-aries"></p>
    <br /><br />

    <h3>Schwächen des Sternzeichens Widder</h3>
    <p id="text2-aries"></p>
    <br /><br />

    <h3>Das Sternzeichen Widder in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-aries"></p>
    <br /><br />

    <h3>Der Widder im Beruf – die Karriereleiter geht nur bergauf</h3>
    <p id="text4-aries"></p>
    <br /><br />

    <h3>Der Widder als Mann</h3>
    <p id="text5-aries"></p>
    <br /><br />

    <h3>Der Widder als Frau</h3>
    <p id="text6-aries"></p>
</div>




<!-- Wasserman -->
<div class="contentBoxBlock" id="zodiacInformationAquarius" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Wassermann_Small.png" alt="Wassermann">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Wassermann</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-aquarius"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Wassermann</h3>
    <p id="text1-aquarius"></p>
    <br /><br />

    <h3>Schwächen des Sternzeichen Wassermannes</h3>
    <p id="text2-aquarius"></p>
    <br /><br />

    <h3>Das Sternzeichen Wassermann in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-aquarius"></p>
    <br /><br />

    <h3>Der Wassermann im Beruf – Die Karriereleiter hoch und runter</h3>
    <p id="text4-aquarius"></p>
    <br /><br />

    <h3>Der Wassermann als Mann</h3>
    <p id="text5-aquarius"></p>
    <br /><br />

    <h3>Der Wassermann als Frau</h3>
    <p id="text6-aquarius"></p>
</div>




<!-- Fische -->
<div class="contentBoxBlock" id="zodiacInformationFish" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Fische_Small.png" alt="Fische">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Fische</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-fish"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Fische</h3>
    <p id="text1-fish"></p>
    <br /><br />

    <h3>Schwächen und Macken der Fische</h3>
    <p id="text2-fish"></p>
    <br /><br />

    <h3>Das Sternzeichen Fische in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-fish"></p>
    <br /><br />

    <h3>Der Fisch im Beruf – Karriere ist nicht alles</h3>
    <p id="text4-fish"></p>
    <br /><br />

    <h3>Der Fisch als Mann</h3>
    <p id="text5-fish"></p>
    <br /><br />

    <h3>Der Fisch als Frau</h3>
    <p id="text6-fish"></p>
</div>




<!-- Stier -->
<div class="contentBoxBlock" id="zodiacInformationTaurus" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Stier_Small.png" alt="Stier">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Stier</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-taurus"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Stier</h3>
    <p id="text1-taurus"></p>
    <br /><br />

    <h3>Schwächen und Macken des Stiers</h3>
    <p id="text2-taurus"></p>
    <br /><br />

    <h3>Das Sternzeichen Stier in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-taurus"></p>
    <br /><br />

    <h3>Der Stier im Beruf</h3>
    <p id="text4-taurus"></p>
    <br /><br />

    <h3>Der Stier als Mann</h3>
    <p id="text5-taurus"></p>
    <br /><br />

    <h3>Der Stier als Frau</h3>
    <p id="text6-taurus"></p>
</div>




<!-- Löwe -->
<div class="contentBoxBlock" id="zodiacInformationLeo" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Löwe_Small.png" alt="Löwe">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Löwe</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-leo"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Löwe</h3>
    <p id="text1-leo"></p>
    <br /><br />

    <h3>Schwächen und Macken des Löwen</h3>
    <p id="text2-leo"></p>
    <br /><br />

    <h3>Das Sternzeichen Löwe in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-leo"></p>
    <br /><br />

    <h3>Der Löwe im Beruf – Die Karriereleiter ist sein Revier</h3>
    <p id="text4-leo"></p>
    <br /><br />

    <h3>Der Löwe als Mann</h3>
    <p id="text5-leo"></p>
    <br /><br />

    <h3>Der Löwe als Frau</h3>
    <p id="text6-leo"></p>
</div>



<!-- Jungfrau -->
<div class="contentBoxBlock" id="zodiacInformationVirgo" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Jungfrau_Small.png" alt="Jungfrau">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Jungfrau</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-virgo"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Jungfrau</h3>
    <p id="text1-virgo"></p>
    <br /><br />

    <h3>Schwächen und Macken der Jungfrau</h3>
    <p id="text2-virgo"></p>
    <br /><br />

    <h3>Das Sternzeichen Jungfrau in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-virgo"></p>
    <br /><br />

    <h3>Die Jungfrau im Beruf – Die Karriereleiter in Balance</h3>
    <p id="text4-virgo"></p>
    <br /><br />

    <h3>Die Jungfrau als Mann</h3>
    <p id="text5-virgo"></p>
    <br /><br />

    <h3>Die Jungfrau als Frau</h3>
    <p id="text6-virgo"></p>
</div>




<!-- Waage -->
<div class="contentBoxBlock" id="zodiacInformationLibra" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Waage_Small.png" alt="Waage">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Waage</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-libra"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Waage</h3>
    <p id="text1-libra"></p>
    <br /><br />

    <h3>Schwächen und Macken der Waage</h3>
    <p id="text2-libra"></p>
    <br /><br />

    <h3>Das Sternzeichen Waage in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-libra"></p>
    <br /><br />

    <h3>Die Waage im Beruf – Die Karriereleiter in Balance</h3>
    <p id="text4-libra"></p>
    <br /><br />

    <h3>Die Waage als Mann</h3>
    <p id="text5-libra"></p>
    <br /><br />

    <h3>Die Waage als Frau</h3>
    <p id="text6-libra"></p>
</div>




<!-- Skorpion -->
<div class="contentBoxBlock" id="zodiacInformationScorpio" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Skorpion_Small.png" alt="Skorpion">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Skorpion</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-scorpio"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Skorpion</h3>
    <p id="text1-scorpio"></p>
    <br /><br />

    <h3>Schwächen und Macken des Skorpions</h3>
    <p id="text2-scorpio"></p>
    <br /><br />

    <h3>Das Sternzeichen Skorpion in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-scorpio"></p>
    <br /><br />

    <h3>Der Skorpion im Beruf – Die Karriereleiter bergauf</h3>
    <p id="text4-scorpio"></p>
    <br /><br />

    <h3>Der Skorpion als Mann</h3>
    <p id="text5-scorpio"></p>
    <br /><br />

    <h3>Der Skorpion als Frau</h3>
    <p id="text6-scorpio"></p>
</div>




<!-- Schütze -->
<div class="contentBoxBlock" id="zodiacInformationSagittarius" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Schütze_Small.png" alt="Schütze">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Schütze</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-sagittarius"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Schütze</h3>
    <p id="text1-sagittarius"></p>
    <br /><br />

    <h3>Schwächen und Macken des Schützen</h3>
    <p id="text2-sagittarius"></p>
    <br /><br />

    <h3>Das Sternzeichen Schütze in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-sagittarius"></p>
    <br /><br />

    <h3>Der Schütze im Beruf – Die Karriereleiter hoch und runter</h3>
    <p id="text4-sagittarius"></p>
    <br /><br />

    <h3>Der Schütze als Mann</h3>
    <p id="text5-sagittarius"></p>
    <br /><br />

    <h3>Der Schütze als Frau</h3>
    <p id="text6-sagittarius"></p>
</div>




<!-- Steinbock -->
<div class="contentBoxBlock" id="zodiacInformationCapricorn" style="display:none;">
    <div class="contentBoxFlex columnGap30" id="zodiacInformationHeader">
        <img class="zodiacSigns-Img-Small" src="~/src/img/Steinbock_Small.png" alt="Steinbock">
        <h1 class="zodiacInformation-Header" id="zodiacInformation-Header">Steinbock</h1>
    </div>

    <hr />
    <br />

    <p class="text-summary" id="summary-capricorn"></p>
    <br /><br />

    <h3>Stärken des Sternzeichens Steinbock</h3>
    <p id="text1-capricorn"></p>
    <br /><br />

    <h3>Schwächen und Macken des Steinbocks</h3>
    <p id="text2-capricorn"></p>
    <br /><br />

    <h3>Das Sternzeichen Steinbock in der Liebe – Abenteuer oder Romantik?</h3>
    <p id="text3-capricorn"></p>
    <br /><br />

    <h3>Der Steinbock im Beruf – Die Karriereleiter hinauf im eigenen Tempo</h3>
    <p id="text4-capricorn"></p>
    <br /><br />

    <h3>Der Steinbock als Mann</h3>
    <p id="text5-capricorn"></p>
    <br /><br />

    <h3>Der Steinbock als Frau</h3>
    <p id="text6-capricorn"></p>
</div>


<script src="~/js/zodiacViewSelection.js" asp-append-version="true"></script>
