@* Views/Partial/ZodiacInformation.cshtml *@

<!-- Krebs -->
<div class="contentBoxBlock" id="zodiacInformationCancer" style="display:none;">
    <p class="text-summary">
        Die Persönlichkeit des Zeichens Krebs ist vielschichtig.
        Krebse haben viele Stimmungen, von denen einige sogar widersprüchlich sind.
        Doch sie haben auch ein tiefes, zentrales Selbst, das bestehen bleibt.
        Menschen mit dem Sternzeichen Krebs beschäftigen sich viel mit ihren eigenen Sorgen und den Sorgen der Menschen in ihrer Umgebung.
        Es fällt ihnen schwer, ihren Schmerz mit anderen zu teilen.
        Oft haben sie Angst, sich verletzlich zu zeigen, weil sie befürchten, dass andere ihre Schwächen gegen sie verwenden könnten.
        Krebs-Geborene haben außerdem gelernt, ihren Schmerz zu verbergen, um andere nicht zu belasten.
        Oft tun sie so, als ginge es ihnen gut, obwohl das Gegenteil der Fall ist. Die Gefühle des Wasserzeichens Krebs sind wie ein freiliegender Nerv.
        Krebse können alles spüren. Sie sind wie eine Stimmgabel, die bei der geringsten Provokation in Schwingung gerät.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Krebs</h3>
    <p>
        Der Krebs gilt als ein sehr freundliches und fröhliches Gemüt.
        Zwischenmenschlichkeit, Respekt und vor allem Fairness sind ihm sehr wichtig.
        Für seine Werte setzt er sich daher auch gern ein und akzeptiert keine Intoleranz.
        Ein bisschen verträumt und dennoch voller Ehrgeiz kämpft der Krebs sich durch das Leben.
        Anderen dabei helfen und gutmütig sein, macht ihn zu einem sehr charmanten Kameraden.
        Der Krebs ist sparsam, denn er ist sicherheitsliebend und plant gern voraus.
        Dennoch handelt das Tierkreiszeichen gern intuitiv, ist bescheiden und beständig.
        Für viele hat der Krebs einen ausgeprägten mütterlichen Instinkt, weshalb er Anlaufstelle Nummer eins ist, wenn andere Rat oder ein offenes Ohr suchen.
        Seine Freunde und Familie wissen sein reines Herz zu schätzen.
    </p>
    <br /><br />

    <h3>Sternzeichen Krebs: Schwächen und Macken</h3>
    <p>
        Die permanente Belastung mit den Problemen seiner Lieben, hinterlässt auch beim Krebs seine Spuren.
        So sehr er es liebt für sein Umfeld der Fels in der Brandung zu sein und immer mit Rat und Tat beizustehen, so macht ihn seine Rolle als fürsorglicher Zuhörer zu einem sensiblen Wesen.
        Oftmals schon beinahe überempfindlich und labil weiß der Krebs sich nicht anders zu helfen, als sentimental und launenhaft zu reagieren, wenn er sich verletzt fühlt.
        Sein Verhalten ist allgemein so manches Mal stimmungsabhängig, wodurch der Krebs schon fast zum Pessimisten mutiert.
        Das ganze Leid auf seinen Schultern lässt ihn den Blick für das Positive verlieren.
        Da der Krebs sich über das Böse des Lebens bewusst ist, versucht er seine Lieben stets zu schützen und zu bevormunden.
        Dadurch empfinden ihn fremde Außenstehende als überbeschützend und nehmen ihm seine Art eher übel.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Krebs in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Auch wenn der Krebs selbst ein großes Herz hat und für jeden Platz darin findet, so fällt es ihm selbst gar nicht leicht sich anderen gegenüber zu öffnen.
        Immerhin weiß er, was es bedeutet verletzt zu werden und kennt seine sensible Seite.
        Eine harte Schale soll ihn schützen. Dennoch ist der Krebs ein häuslicher Mensch.
        Er braucht nicht die große Party oder den Nervenkitzel jeden Abend.
        Ein gemütlicher Abend zu Hause mit einem frisch gekochten Dinner, einem Glas Wein und einem schönen Gespräch sind alles was sein Herz begehrt.
        Allgemein, ist der Krebs ein Romantiker und träumt von der großen Liebe.
        Jemand für eine Nacht ist nichts für sein Bett. Wer sich den Weg in sein Herz bahnt, der kann sich über einen treuen Wegbegleiter freuen, der an enger Zweisamkeit interessiert ist.
        Allerdings ist Loyalität dem Sternzeichen Krebs sehr wichtig. Das kann auf Dauer ein wenig anstrengend werden.
        Ein wohlbehütetes Zuhause, eine stützende Schulter und ein sanfter Umgangston lassen den Krebs dahinschmelzen.
        Er selbst ist sehr liebevoll und kümmert sich um seine:n Partner:in. Kuscheln ist seine Luft zum Atmen!
    </p>
    <br /><br />

    <h3>Der Krebs im Beruf – Die Karriereleiter ist nicht alles</h3>
    <p>
        Auch wenn der Krebs zielstrebig ist, so hat er andere Ziele als seine Kollegen.
        Beruflicher Aufstieg und Erfolg, Ehrgeiz und das Streben nach mehr sind nicht seine primären Lebensaufgaben.
        Der Krebs legt viel Wert darauf, sich um seine Mitbürger zu kümmern. Instinktiv spürt er, wenn ihn jemand braucht.
        Daher ist ihm das Arbeitsklima wichtiger als ein Kampf mit den Kollegen um das neue Projekt, die Gehaltserhöhung oder die Anerkennung des Chefs oder der Kollegen.
        Krebse sind empfindsam und können sich gut in andere Menschen hineinversetzen.
        Allerdings sorgt ihre sensible Seite für eine Achterbahn der Gefühle und so fällt es dem Sternzeichen so manches Mal schwer, sich zu behaupten.
        Er kennt sich selbst und weiß, wie verletzlich er sein kann. Deswegen meidet der Krebs automatisch Konfrontationen oder den typischen Konkurrenzkampf am Arbeitsplatz.
        Er möchte sich einfach wohlfühlen und trägt natürlich selbst zu einem angenehmen Arbeitsumfeld bei, sei es mit einem Lächeln, einem selbstgebackenen Kuchen für die Kollegen oder einem netten Kompliment.
        Geld und beruflicher Aufstieg sind eben nicht alles.
    </p>
    <br /><br />

    <h3>Der Krebs als Mann</h3>
    <p>
        Der Krebs, ein Macho? Fehlanzeige! Einfühlsam, liebevoll, zärtlich – das zeichnet den Krebs-Mann aus.
        Kein Wunder, denn sein Tierkreiszeichen wird vom Mond regiert, welcher für die weibliche Seite steht.
        Daher kann man auch davon ausgehen, dass der Krebs-Mann ein ausgeprägtes und gutes Verhalten zu seiner Mutter hat.
        Der Krebs-Mann hat Angst vor Enttäuschungen und ist daher besonders vorsichtig und sicherheitsliebend.
        Veränderungen sind schwer zu verarbeiten und wenn es dem Sternzeichen dann doch mal zu viel wird, zieht er sich in seine Traumwelt zurück, seinen Panzer.
        Etwas Lockeres hier oder eine Affäre da, sind nichts für das romantische Tierkreiszeichen.
        Er ist ein Familienmensch und stellt den Wunsch nach einem ruhigen zu Hause ganz klar über Partys und Partner:innen für eine Nacht.
        Wer allerdings sein Vertrauen gewinnen möchte, braucht ein ruhiges Händchen und sehr viel Geduld. Zu groß ist die Angst davor, verletzt zu werden.
        Aber ist die Schale erst mal geknackt, wartet eine treue Seele.
    </p>
    <br /><br />

    <h3>Der Krebs als Frau</h3>
    <p>
        Die Krebs-Frau mag es, sich um andere zu kümmern.
        Dafür verzichtet sie auch gern auf die Karriere.
        Ein schönes Heim, ein leckeres Essen auf dem Tisch und ein gemütlicher Abend mit dem Liebsten auf der Couch, ist alles, was die Krebs-Dame braucht, um glücklich zu sein.
        Dabei nimmt sie vor allem ihre Rolle als Köchin sehr ernst.
        Wie auch der Krebs-Mann, ist die Krebs-Frau eine sehr leidenschaftliche Köchin und übertrumpft ihre kulinarischen Ergebnisse immer wieder aufs Neue, denn Liebe geht ja bekanntlich durch den Magen.
        Durchzechte Partynächte oder großartige Freizeitaktivitäten machen der Krebs-Frau keinen besonderen Spaß.
        Ein gemütlicher Abend, einen Film schauen und dabei kuscheln ist für sie das Schönste.
        Die Krebs-Dame ist eben nicht anspruchsvoll, aber vergisst manchmal, ihren Liebsten Freiraum und etwas Luft zum Atmen zu lassen.
        Sie ist eben sehr romantisch und pflegt ihre:n Partner:in viel zu gern mit zahlreichen zärtlichen Stunden.
    </p>
</div>

<!-- Zwilling -->
<div class="contentBoxBlock" id="zodiacInformationGemini" style="display:none;">
    <p class="text-summary">
        Zwillinge sind kleine Chaoten, welche die Abwechslung und immer wieder neue Aufregung brauchen.
        Still dasitzen und nichts tun gleicht einer Strafe und ist schlichtweg unmöglich, denn der Zwilling ist viel zu aktiv.
        Trotz einiger Schwächen und Unzuverlässigkeiten, weiß der Zwilling seinen Charme zu nutzen und seine Mitmenschen versöhnlich um den Finger zu wickeln.
        Dieses Luftzeichen hat die Fähigkeit, den Charakter eines Menschen in Sekundenschnelle einzuschätzen.
        Wenn jemand blufft, merkt der Zwilling das als Erster.
        Auch wenn der Zwilling gerne über sich redet, kann er ein sensibler Zuhörer sein.
        Das Tierkreiszeichen ist vielseitig und fühlt sich sowohl als introvertierte als auch als extrovertierte Person wohl.
    </p>
    <br /><br />

    <h3>Stärken des Sternzeichens Zwilling</h3>
    <p>
        Zwillinge lieben die Kommunikation, sind kontaktfreudig und gesellig.
        Neue Menschen kennenlernen oder allgemein auf fremde Menschen zugehen ist für sie eine leichte Übung.
        Der Zwilling ist schnell und flexibel in jeder Hinsicht.
        Sein Verstand ist flink, wissbegierig und anpassungsfähig, während sein Körper auf seltsame Art und Weise ebenfalls beweglich und schnell ist.
        Als Multitasking-Profi erledigt er mehrere Dinge mühelos auf einmal.
        Die freundliche und heitere Ader ist ansteckend und mitreißend und so haben Zwillinge eine ausgeprägte Überzeugungskraft.
        Charmant und offen gegenüber allem und jedem kennt er selbst meist seinen nächsten Schritt noch nicht.
    </p>
    <br /><br />

    <h3>Schwächen und Macken der Zwillinge</h3>
    <p>
        Schnell, schnell, heißt es immer.
        Manchmal eben auch zu schnell und so ist das Sternzeichen Zwilling besonders stressanfällig und ungeduldig.
        Er will alles haben und am besten sofort.
        Das Sternzeichen ist ebenfalls beeinflussbar und wirkt daher flatterhaft und nervös.
        Auf lange Sicht ist er leider unzuverlässig.
        Ernst bleiben ist für ihn keine leichte Übung und so sind im Zeichen Zwilling geborene gerne mal zerstreut und wirken allein komplett aufgeschmissen.
        Gerade deshalb hat der Zwilling Angst vorm Alleinsein.
        Doch auch wenn er leicht Kontakte knüpfen kann, so bleibt die Frage, von welcher Dauer diese sind.
    </p>
    <br /><br />

    <h3>Das Sternzeichen Zwilling in der Liebe – Abenteuer oder Romantik?</h3>
    <p>
        Die große Liebe sucht der typische Zwilling erst einmal nicht.
        Wildes flirten und ein Telefonbuch voller Nummern für eine leidenschaftliche Nacht ist die Realität und erfüllt sein Bedürfnis zur Genüge.
        Im Flirten ist das Sternzeichen allerdings Profi.
        Sein Objekt der Begierde wickelt er problemlos um den kleinen Finger.
        Er kennt einen Spruch für jede Situation und findet immer die richtigen Worte, um der Dame oder dem Herren den Kopf zu verdrehen.
        Während der Zwilling ganz bewusst kein Interesse an einer festen Beziehung hat, verlieben sich die Singles im Sekundentakt.
        Sein Charakter ist einfach zu anziehend, um zu widerstehen.
        Das Problem ist nur, dass seine Affären schon dem Traualtar entgegenfiebern und die Anzahl der Abenteuer dem Zwilling zum Verhängnis werden können.
        Er liebt seinen Freiraum und die Freiheit.
        Wer es tatsächlich in sein Herz schafft, der sollte es sich nicht mit Eifersucht verbauen oder kaputt machen.
    </p>
    <br /><br />

    <h3>Der Zwilling im Beruf – Die Karriereleiter geht bergauf</h3>
    <p>
        Getrieben von ihrer Neugierde und Wissbegierde sind die Zwillinge permanent unterwegs und auf Entdeckungsreise.
        Dafür nehmen sie auch gerne einen Jobwechsel in Kauf.
        Bevor sie dann wirklich die passende Berufswahl für sich treffen, müssen sie wie auch in der Liebe durch- und ausprobieren, denn wer weiß, ob nicht etwas Besseres an der nächsten Ecke schon wartet.
        Sprachgewandt und mit dem Drang nach Kommunikation ist klar, dass der Zwilling sich in vielen Branchen wohlfühlt.
        Ihre Überzeugungskraft ist äußerst praktisch und hilft dabei, ihre Ideen durchzusetzen.
        Problematisch wird es für den Zwilling in der Berufswelt dann, wenn seine mangelnde Zuverlässigkeit zum Thema wird.
        Für das Sternzeichen ist ein Termin nun mal nicht gleich ein fester Termin.
        Meetings und Fristen werden in der letzten Sekunde geändert und mit der Pünktlichkeit nimmt es der Zwilling auch nicht allzu streng.
        Dank seines charmanten und klugen Kopfs, kann ihm allerdings niemand lange böse sein.
    </p>
    <br /><br />

    <h3>Der Zwilling als Mann</h3>
    <p>
        Der Zwilling-Mann ist ein redseliger Geselle.
        Die Frauen freut es, aber nur, solange sie auch selbst mal zu Wort kommen dürfen.
        Der Zwilling-Mann muss immer aktiv sein, ganz egal, ob beim Sprechen oder beim Sitzen.
        Ruhig sitzen ist gar nicht möglich, dafür ist er viel zu hibbelig und unternehmungslustig.
        Dafür wird es mit dem Zwilling aber niemals langweilig.
        Allerdings kann der Zwilling-Geborene nicht so leicht abschalten und sich fallen lassen, was in vielen Situationen zu Problemen führen kann, beispielsweise beim Verlieben.
        Auf der Arbeit beweist der Zwilling sein Können, unabhängig von der Stelle und seiner Position.
        Das Sternzeichen zeigt eben, wie schnell es sich selbstständig einarbeiten kann und klettert die Karriereleiter besonders schnell nach oben, denn der Zwilling ist sich für nichts zu schade.
    </p>
    <br /><br />

    <h3>Der Zwilling als Frau</h3>
    <p>
        Zwilling-Frauen plaudern mit Vergnügen und das den lieben langen Tag.
        Freund:innen müssen mit stundenlangen Telefonaten rechnen und werden dafür mit vielseitigen Informationen belohnt.
        Neugierig ist die Zwilling-Frau allerdings in jedem Lebensbereich, was ihr viele Türen in der Arbeitswelt eröffnet.
        Die Lust auf etwas Neues vergeht ihr einfach nie.
        Neue Erfahrungen sind immer ein schöner Pluspunkt, auch im privaten Umfeld.
        Deswegen reist das Sternzeichen auch so viel um die Welt, am liebsten last Minute und mit fünf unterschiedlichen Zwischenstopps.
        Auf Reisen lernt das Sternzeichen viele Menschen kennen, allerdings sind die Bekanntschaften nur von kurzer Dauer.
        Einerseits ist das Luftzeichen zu flatterhaft und schnelllebig, um zahlreiche Bekanntschaften zu pflegen und andererseits sind es tatsächlich zu viele Kontakte, um zu jedem einen engen Draht aufzubauen.
        Die Zwilling-Frau hält leider nicht immer ihr Wort.
        Wer also mehr als ein kurzes Gespräch erwartet oder gar ein festes Treffen für einen gemeinsamen Abend, der wird wohl oder übel enttäuscht.
        Viel zu oft vergisst das Sternzeichen etwas in Eile und ist anschließend in einer schwierigen Situation.
    </p>
</div>

<script src="~/js/zodiacViewSelection.js" asp-append-version="true"></script>
