
<!-- Photowall -->
<div class="contentBoxFlex" id="photoWall-aboutUs">

	<!-- Will be loaded and displayed with C# and Javascript later on -->
	<img src="~/src/img/TestImg.png" class="photo-aboutUs" id="photo-aboutUs-1" />
	<img src="~/src/img/TestImg.png" class="photo-aboutUs" id="photo-aboutUs-2" />
	<img src="~/src/img/TestImg.png" class="photo-aboutUs" id="photo-aboutUs-3" />
	<img src="~/src/img/TestImg.png" class="photo-aboutUs" id="photo-aboutUs-4" />
	<img src="~/src/img/TestImg.png" class="photo-aboutUs" id="photo-aboutUs-5" />
</div>

<div class="contentBoxBlock" id="infoText-aboutUs">
	<h1>Über Uns</h1>
	<hr />
	<br /><br />

	<h3>Willkommen auf unserer Homepage!</h3>
	<p>
		Wir sind die Familie Berger und wohnen im schönen Kärnten bei einem Schloss. <br /><br />

		Mit viel Enthysiasmus und Interesse habe ich mich schon lange mit dem Thema Astrologie beschftigt.<br />
		Nach und nach bemerkte ich, dass das meine Bestimmung ist.<br />
		Darum habe ich mich mit der Materie beschäftigt um anderen Menschen mit der Astrologie zu helfen.<br />
	</p>
</div>